<template>
    <v-hover>
        <template v-slot:default="{ isHovering, props }">
            <v-card
                elevation='6'
                theme='dark'
                class='ma-1'
                :class="item.isDeleted ? 'bg-red-darken-4' : ((!item.isActive || (item.isAvailableForSale && item.quantity < 1)) ? 'bg-grey-darken-3' : undefined)"
                :variant="item.isDeleted || !item.isActive || (item.isAvailableForSale && item.quantity < 1) ? 'outlined' : 'elevated'"
                :raised='item.isDeleted || !item.isActive || (item.isAvailableForSale && item.quantity < 1)'
                :loading='loading'
                v-bind="props"
            >
                <v-carousel
                    v-if="item.images.length > 0"
                    cycle
                    height='auto'
                    :show-arrows='item.images.length > 1 && "hover"'
                    hide-delimiter-background
                    :hide-delimiters='item.images.length === 1'
                    touch
                >
                    <v-carousel-item
                        v-for="(image, i) in item.images" :key="i"
                        :src='image.path + image.name'
                        :lazy-src='getDefaultImage()'
                        height='400'
                        cover
                    >
                        <template v-slot:error>
                           <div class='d-flex align-center justify-center fill-height'>
                                <v-progress-circular
                                    color="grey-lighten-4"
                                    indeterminate
                                ></v-progress-circular>
                            </div>
                        </template>

                        <template v-slot:placeholder>
                            <div class="d-flex align-center justify-center fill-height">
                                <v-progress-circular
                                    color="grey-lighten-4"
                                    indeterminate
                                ></v-progress-circular>
                            </div>
                        </template>
                    </v-carousel-item>
                </v-carousel>

                <v-card-item class='text-left'>
                    <div class='text-h6 font-weight-bold text-blue mb-2'>
                        {{ toCurrency(item.priceInMinorUnit) }}
                    </div>
                    <div
                        class='d-flex flex-row text-body-1 font-weight-medium text-white mb-1'
                        style='word-break: break-word;'
                    >
                        <span v-if='item.isDeleted' class='text-grey'>{{ $t('deleted') }}:&nbsp;</span>

                        <span v-else-if='!item.isActive || (item.isAvailableForSale && item.quantity < 1)' class='text-grey'>
                            {{ $t('inactive') }}:&nbsp;
                        </span>

                        <router-link
                            :to="'/item/' + item.id"
                            class='text-white'
                            :class='isHovering ? "text-decoration-underline" : "text-decoration-none"'
                        >
                            {{ item.title }}
                        </router-link>
                    </div>
                </v-card-item>

                <v-card-text
                    v-if='isHovering || smAndDown'
                    class='pb-0'
                >
                    <div v-if='item.isActive && !item.isDeleted && item.isAvailableForSale && item.quantity > 0'>
                        <v-btn
                            v-if='itemQuantityInCart(item.id) > 0'
                            color='green'
                            variant='tonal'
                            :to='openCartBtn.path'
                            :prepend-icon='openCartBtn.icon'
                            :loading='isCartLoading'
                            class='mb-2 no-text-transform'
                            block
                        >
                            <p class='text-wrap'>
                                {{ $t(openCartBtn.title) }}
                            </p>
                        </v-btn>

                        <v-btn
                            v-else
                            color='blue'
                            variant='tonal'
                            v-on:click='increaseQuantityOfItem(item.id, item.quantity)'
                            :prepend-icon='addToCartBtn.icon'
                            :loading='isCartLoading'
                            class='mb-2 no-text-transform'
                            block
                        >
                            <p class='text-wrap'>
                                {{ $t(addToCartBtn.title) }}
                            </p>
                        </v-btn>
                    </div>
                </v-card-text>

                <v-card-text
                    class='py-0'
                >
                    <v-btn
                        v-if='item.isActive && !item.isDeleted && !item.isAvailableForSale'
                        color='blue'
                        variant='tonal'
                        class='mb-2 no-text-transform'
                        block
                    >
                        <p class='text-wrap'>
                            {{ $t('availableInStoreOnly') }}
                        </p>
                    </v-btn>
                </v-card-text>

                <v-card-text class='text-caption text-left text-white pt-0'>
                    <ItemInformation
                        :item='item'
                        :addPadding='false'
                    />
                </v-card-text>
            </v-card>
        </template>
    </v-hover>
</template>

<script>
    import { mapGetters } from 'vuex';
    import { useDisplay } from 'vuetify'
    import useCurrency from '../../composables/useCurrency';
    import useDefaultImage from '../../composables/useDefaultImage';
    import useCart from '../../composables/useCart';
    import ItemInformation from '../ItemInformation.vue';

    export default {
        props: [ 'item' ],

        components: {
            ItemInformation,
        },

        setup () {
            const { smAndDown } = useDisplay();
            const { toCurrency } = useCurrency();
            const { getDefaultImage } = useDefaultImage();
            const { increaseQuantityOfItem, itemQuantityInCart } = useCart();

            return {
                smAndDown,
                toCurrency,
                getDefaultImage,
                increaseQuantityOfItem,
                itemQuantityInCart,
            };
        },

        data () {
            return {
                loading: false,
                show: false,
                errors: {
                    message: null,
                    visible: false,
                },
                addToCartBtn: { title: 'addToCart', path: '', icon: 'mdi-cart-outline' },
                openCartBtn: { title: 'addedToCart', path: '/cart', icon: 'mdi-check' },
            }
        },

        computed: {
            ...mapGetters({
                isCartLoading: 'cart/isLoading',
            }),
        },
    }
</script>

<style scoped>

</style>
