<template>
    <v-card
        elevation='6'
        theme='dark'
        class='ma-2 text-left'
        :class="!item.isActive ? 'bg-grey-darken-3' : undefined"
        :variant="!item.isActive ? 'outlined' : 'elevated'"
        :raised='!item.isActive'
        :loading='loading'
    >
        <ExpandableCarousel
            :images='item.images'
            :showEnlargingText='false'
        />

        <v-card-title>
            <span v-if='!item.isActive' class='text-grey'>{{ $t('inactive') }}:&nbsp;</span>
            <span>{{ item.title }}</span>
        </v-card-title>

        <v-card-actions v-if='isAuthenticated || item.description'>
            <v-btn
                v-if='isAuthenticated'
                color='amber'
                variant='tonal'
                class='mb-2'
                :to="editOfferBtn.path + item.id"
                :prepend-icon='editOfferBtn.icon'
                :loading="loading"
                :disabled="loading"
            >
                {{ $t(editOfferBtn.title) }}
            </v-btn>

            <v-spacer></v-spacer>

            <v-btn
                v-if='item.description'
                :icon="showDescription ? 'mdi-chevron-up' : 'mdi-chevron-down'"
                @click="showDescription = !showDescription"
            ></v-btn>
        </v-card-actions>

        <v-expand-transition>
            <div v-show="showDescription">
                <v-divider></v-divider>

                <v-card-text>
                    <VuetifyViewer
                        v-if='item.description'
                        :value="item.description"
                    />
                </v-card-text>
            </div>
        </v-expand-transition>
    </v-card>
</template>

<script>
    import { mapGetters } from 'vuex';
    import useDefaultImage from '../../composables/useDefaultImage';
    import ExpandableCarousel from '../ExpandableCarousel.vue';

    export default {
        props: [ 'item' ],

        components: {
            ExpandableCarousel,
        },

        setup () {
            const { getDefaultImage } = useDefaultImage();
            return { getDefaultImage };
        },

        data () {
            return {
                loading: false,
                showDescription: false,
                editOfferBtn: { title: 'edit', path: '/editOffer/', icon: 'mdi-pencil' },
            }
        },

        computed: {
            ...mapGetters({
                isAuthenticated: 'auth/authenticated',
            }),
        },
    }
</script>

<style scoped>

</style>
