<template>
    <v-app app>
        <Global />

        <div v-if="$route.meta.allowFullScreen">
            <router-view></router-view>
        </div>

        <div v-else>
            <Nav />
            <v-main class="d-flex" :scrollable='true'>
                <div class="bg-grey-darken-4">
                    <router-view></router-view>
                    <Footer />
                </div>
            </v-main>
        </div>

        <v-overlay
            :model-value="isAuthLoading"
            class="align-center justify-center"
        >
            <v-progress-circular
                indeterminate
                size="64"
            ></v-progress-circular>
        </v-overlay>

        <CookieBanner />
    </v-app>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Nav from './components/Nav.vue';
    import Footer from './components/Footer.vue';
    import Global from './components/popups/Global.vue';
    import CookieBanner from './components/CookieBanner.vue';

    export default {
        name: 'App',

        components: {
            Nav,
            Footer,
            Global,
            CookieBanner,
        },

        data () {
            return {

            }
        },

        computed: {
            ...mapGetters({
                isAuthLoading: 'auth/isLoading',
            }),
        },
    }
</script>

<style>
    html, body, #app {
        width: 100%;
        height: 100%;
    }
</style>
