html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar-nav .nav-item .nav-link  {
    color: #fff;
}

.blue-gradient {
    position: relative;
    background: linear-gradient(#42275a, #734b6d);
    background-position: center;
}

.jumbotron {
    border-radius: 0;
}

.bg-grey {
    background: #333;
}

.bg-dark-grey {
    background-color: rgba(0, 0, 0, 0.2);
}

@keyframes pulse_animation {
    0% { transform: scale(1); color: #3e1e5a; }
    30% { transform: scale(1); }
    40% { transform: scale(1.8); }
    50% { transform: scale(1); color: #30075a; }
    60% { transform: scale(1); }
    70% { transform: scale(1.8); }
    80% { transform: scale(1); }
    100% { transform: scale(1); color: #3e1e5a; }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.zoom {
    transition: transform .25s;
}

.zoom:hover {
    transform: scale(1.2);
}

.shrink {
    transition: transform .25s;
}

.shrink:hover {
    transform: scale(0.9);
}

.full-height {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.full-height h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.full-height h2 {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .full-height h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}
@media (min-width: 992px) {
    .full-height {
        height: 100vh;
        padding: 0;
    }
    .full-height h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .full-height h2 {
        font-size: 1.5rem;
    }
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}

.border-bottom {
    border-color: #333;
    border-width: 0.25rem;
    width: 15%;
}

.slash {
    width: 0.05rem;
    background: #fff;
}

.active {
    color: #fff;
    border-bottom: .25rem solid;
}

.nav-link:hover {
    color: #fff;
    border-bottom: .25rem solid;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.main-nav {
    transition: background-color 0.3s ease-in-out;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
