<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('account') }}</h1>
            </v-col>

            <v-col
                v-if='authenticated'
                class='my-5'
                cols='12'
                sm='10'
                md='6'
            >
                <v-list
                    v-if='user'
                    lines='two'
                    density='comfortable'
                >
                    <template
                        v-for="(userSetting, i) in getUserSettingsList" :key="i"
                    >
                        <v-list-item>
                            <v-list-item-title class='font-weight-regular'>
                                {{ userSetting.title }}
                            </v-list-item-title>

                            <template v-slot:append>
                                <p class='font-weight-bold'>
                                    {{ userSetting.value }}
                                </p>

                                <p
                                    v-if='userSetting.dateTime'
                                    class='ml-1'
                                >
                                    {{ getTimeAgoValue(userSetting.datetime) }}
                                    <v-tooltip activator='parent'>
                                        {{ userSetting.datetime }}
                                    </v-tooltip>
                                </p>

                                <v-btn
                                    v-if='userSetting.edit'
                                    color='amber'
                                    variant='tonal'
                                    class='ml-2'
                                    size='small'
                                    :to="userSetting.edit.path"
                                    :icon='userSetting.edit.icon'
                                ></v-btn>
                            </template>
                        </v-list-item>

                        <v-divider class='border-opacity-25'></v-divider>
                    </template>
                </v-list>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { mapGetters } from 'vuex';
    import SubNavigation from '../components/SubNavigation.vue';
    import useMessage from '../composables/useMessage';
    import useTimeAgo from '../composables/useTimeAgo';

    export default {
        components: {
            SubNavigation,
        },

        setup () {
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getTimeAgoValue } = useTimeAgo();

            return { setErrorMessage, setNotificationMessage, getTimeAgoValue };
        },

        data () {
            return {
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'account',
                        disabled: true,
                        href: '/account',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                user: 'auth/user',
            }),

            getUserSettingsList() {
                if (!this.user) {
                    return [];
                }

                return [
                    {
                        title: this.$t('username'),
                        value: this.user.username,
                    },
                    {
                        title: this.$t('email'),
                        value: this.user.email,
                    },
                    {
                        title: this.$t('password'),
                        value: this.$t('lastChanged') + ':',
                        edit: {
                            path: '/changePass',
                            icon: 'mdi-pencil',
                        },
                        dateTime: this.user.passEditedAt,
                    },
                    {
                        title: this.$t('language'),
                        value: this.$t('enums.' + this.user.language),
                        edit: {
                            path: '/changeLanguage',
                            icon: 'mdi-pencil',
                        }
                    },
                ];
            }
        },

        created () {
            if (!this.authenticated) {
                this.setErrorMessage(this.$t('error.userNotFound'));
                this.$router.push({ name: 'Home' });
            }
        },
    }
</script>

<style scoped>

</style>
