<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('newItem') }}</h1>
            </v-col>

            <v-col
                class='mt-3'
                cols='12'
                sm='8'
                md='6'
            >
                <form @submit.prevent="addCarouselItem">
                    <VuetifyTiptap
                        class="pt-2 pb-1"
                        name="title"
                        v-model="form.title"
                        id="title"
                        :dark="true"
                        :outlined="true"
                        required
                        @update:model-value="v$.title.$touch()"
                        @blur="v$.title.$touch()"
                        @update:modelValue="resetFieldError('title')"
                    />
                    <div
                        v-if='v$.title.$invalid'
                        class='text-red-lighten-1 pb-1'
                    >
                        {{ fieldErrors('title')[0] }}
                    </div>

                    <v-autocomplete
                        name="language"
                        v-model="form.language"
                        id="language"
                        :label="$t('descriptionLanguage')"
                        :items="getSelectionItems(getListWithNotSpecified(languagesEnum))"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseLanguage')"
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('language')"
                        @update:model-value="v$.language.$touch()"
                        @blur="v$.language.$touch()"
                        @update:modelValue="resetFieldError('language')"
                    ></v-autocomplete>

                    <v-checkbox
                        :label="$t('isActive')"
                        name="isActive"
                        v-model="form.isActive"
                        id="isActive"
                        color='blue'
                        density='compact'
                        :error-messages="fieldErrors('isActive')"
                        @update:model-value="v$.isActive.$touch()"
                        @blur="v$.isActive.$touch()"
                        @update:modelValue="resetFieldError('isActive')"
                    />

                    <v-file-input
                        v-model="form.image.data"
                        :label="$t('image')"
                        accept='image/png, image/jpeg, image/jpg, image/bmp, image/webp'
                        :placeholder="$t('chooseImage')"
                        prepend-icon='mdi-camera'
                        variant='underlined'
                        clearable
                        show-size
                        :error-messages="fieldErrors('image')"
                        @change="createSingleImage()"
                        @click:clear="deleteSingleImage()"
                        @update:modelValue="resetFieldError('image')"
                    ></v-file-input>

                    <v-img
                        v-if='form.image.preview'
                        max-height='300'
                        :src="form.image.preview"
                    ></v-img>

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t('add') }}
                    </v-btn>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { computed } from 'vue'
    import { mapGetters, mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { maxLength, helpers } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import useMessage from '../composables/useMessage';
    import useSelection from '../composables/useSelection';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useImage from '../composables/useImage';
    import useImageRules from '../composables/rules/useImageRules';
    import useFieldErrors from '../composables/useFieldErrors';
    import { $t } from "../locales/localization";

    export default {
        components: {
            SubNavigation,
        },

        setup () {
            const { formValues } = useFormData(
                {
                    title: '',
                    language: '-',
                    isActive: true,
                    image: {
                        data: null,
                        base64: '',
                        preview: '',
                    },
                    recaptcha: '',
                }
            );
            const { errorValues } = useErrorData(
                {
                    title: null,
                    language: null,
                    isActive: null,
                    image: null,
                }
            );
            const { createSingleImage, deleteSingleImage } = useImage(
                {
                    new: 'image',
                },
                formValues,
            );
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getListWithNotSpecified, getSelectionItems } = useSelection();
            const { requiredRule, additionalImageRules } = useImageRules();

            const validationRules = computed(() => {
                return {
                    title: {
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '256' }), maxLength(256)),
                    },
                    language: { },
                    isActive: { },
                    image: additionalImageRules( { required: requiredRule } )
                }
            });

            const v$ = useVuelidate(validationRules, formValues);

            const { fieldErrors, resetFieldError } = useFieldErrors(v$, errorValues);

            return {
                form: formValues,
                errors: errorValues,
                createSingleImage,
                deleteSingleImage,
                v$,
                additionalImageRules,
                setErrorMessage,
                setNotificationMessage,
                getListWithNotSpecified,
                getSelectionItems,
                fieldErrors,
                resetFieldError,
            };
        },

        data () {
            return {
                loading: false,
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'newItem',
                        disabled: true,
                        href: '/newCarouselItem',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                languagesEnum: 'enums/languages',
            }),
        },

        methods: {
            ...mapActions({
                getCarouselItemsAction: 'carousel/getCarouselItems',
            }),

            addCarouselItem() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.loading = true;
                    this.$recaptcha('addCarouselItem').then(token => {
                        this.form.recaptcha = token;
                        axios.post('/api/storeCarouselItem', this.form).then(response => {
                            this.loading = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.getCarouselItemsAction();
                                this.$router.push({ name: 'Home' });
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.title) {
                                        this.errors.title = response.data.errors.title;
                                    }
                                    if (response.data.errors.language) {
                                        this.errors.language = response.data.errors.language;
                                    }
                                    if (response.data.errors.isActive) {
                                        this.errors.isActive = response.data.errors.isActive;
                                    }
                                    if (response.data.errors.image) {
                                        this.errors.image = Object.values(response.data.errors.image);
                                    }
                                    if (response.data.errors['image.base64']) {
                                        this.errors.image = response.data.errors['image.base64'];
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.loading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.loading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
        },
    }
</script>

<style scoped>

</style>
