<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('newAdvert') }}</h1>
            </v-col>

            <v-col
                class='mt-3'
                cols='12'
                sm='8'
                md='6'
            >
                <form @submit.prevent="addItem">
                    <v-text-field
                        name="title"
                        v-model="form.title"
                        id="title"
                        :label="$t('title')"
                        type="text"
                        variant='underlined'
                        :counter="256"
                        :error-messages="fieldErrors('title')"
                        @update:model-value="v$.title.$touch"
                        @blur="v$.title.$touch"
                        @update:modelValue="resetFieldError('title')"
                    ></v-text-field>

                    <VuetifyTiptap
                        class="pt-2 pb-1"
                        name="description"
                        v-model="form.description"
                        id="description"
                        :dark="true"
                        :outlined="true"
                        required
                        @update:model-value="v$.description.$touch()"
                        @blur="v$.description.$touch()"
                        @update:modelValue="resetFieldError('description')"
                    />
                    <div
                        v-if='v$.description.$invalid'
                        class='text-red-lighten-1 pb-1'
                    >
                        {{ fieldErrors('description')[0] }}
                    </div>

                    <v-autocomplete
                        name="brand"
                        v-model="form.brand"
                        id="brand"
                        :label="$t('brand')"
                        :items="getSelectionItems(brandsEnum)"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseBrand')"
                        :auto-select-first='true'
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('brand')"
                        @update:model-value="v$.brand.$touch()"
                        @blur="v$.brand.$touch()"
                        @update:modelValue="resetFieldError('brand')"
                    ></v-autocomplete>

                    <v-text-field
                        name="price"
                        v-model="form.price"
                        id="price"
                        :label="$t('price')"
                        prefix="€"
                        variant='underlined'
                        :error-messages="fieldErrors('price')"
                        @update:model-value="v$.price.$touch()"
                        @blur="v$.price.$touch()"
                        @update:modelValue="resetFieldError('price')"
                    ></v-text-field>

                    <v-autocomplete
                        name="state"
                        v-model="form.state"
                        id="state"
                        :label="$t('state')"
                        :items="getSelectionItems(conditionsEnum)"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseState')"
                        :auto-select-first='true'
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('state')"
                        @update:model-value="v$.state.$touch()"
                        @blur="v$.state.$touch()"
                        @update:modelValue="resetFieldError('state')"
                    ></v-autocomplete>

                    <v-autocomplete
                        name="category"
                        v-model="form.category"
                        id="category"
                        :label="$t('category')"
                        :items="getSelectionItems(categoriesEnum)"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseCategory')"
                        :auto-select-first='true'
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('category')"
                        @update:model-value="v$.category.$touch()"
                        @blur="v$.category.$touch()"
                        @update:modelValue="resetSizes(), resetFieldError('category')"
                    ></v-autocomplete>

                    <div v-if="form.category === 'SKATES'">
                        <v-autocomplete
                            name="skateSize"
                            v-model="form.skateSize"
                            id="skateSize"
                            :label="$t('skateSize')"
                            :items="getSelectionItems(sizesEnum.SKATES.SIZE)"
                            item-title="text"
                            item-value="value"
                            :placeholder="$t('chooseSkateSize')"
                            :auto-select-first='true'
                            variant='underlined'
                            clearable
                            :error-messages="fieldErrors('skateSize')"
                            @update:model-value="v$.skateSize.$touch(); resetSkateLength()"
                            @blur="v$.skateSize.$touch()"
                            @update:modelValue="resetFieldError('skateSize')"
                        ></v-autocomplete>

                        <v-autocomplete
                            name="skateLength"
                            v-model="form.skateLength"
                            id="skateLength"
                            :label="$t('skateLength')"
                            :items="getSkateLengths(form.skateSize)"
                            item-title="text"
                            item-value="value"
                            :placeholder="$t('chooseSkateLength')"
                            :auto-select-first='true'
                            variant='underlined'
                            clearable
                            :disabled='!form.skateSize'
                            :error-messages="fieldErrors('skateLength')"
                            @update:model-value="v$.skateLength.$touch()"
                            @blur="v$.skateLength.$touch()"
                            @update:modelValue="resetFieldError('skateLength')"
                        ></v-autocomplete>

                        <v-autocomplete
                            name="skateWidth"
                            v-model="form.skateWidth"
                            id="skateWidth"
                            :label="$t('skateWidth')"
                            :items="sizesEnum.SKATES.WIDTH"
                            :placeholder="$t('chooseSkateWidth')"
                            :auto-select-first='true'
                            variant='underlined'
                            clearable
                            :error-messages="fieldErrors('skateWidth')"
                            @update:model-value="v$.skateWidth.$touch()"
                            @blur="v$.skateWidth.$touch()"
                            @update:modelValue="resetFieldError('skateWidth')"
                        ></v-autocomplete>
                    </div>

                    <div v-else-if="form.category === 'STICKS'">
                        <v-autocomplete
                            name="stickSize"
                            v-model="form.stickSize"
                            id="stickSize"
                            :label="$t('stickSize')"
                            :items="sizesEnum.STICK.SIZE"
                            :placeholder="$t('chooseStickSize')"
                            :auto-select-first='true'
                            variant='underlined'
                            clearable
                            :error-messages="fieldErrors('stickSize')"
                            @update:model-value="v$.stickSize.$touch()"
                            @blur="v$.stickSize.$touch()"
                            @update:modelValue="resetFieldError('stickSize')"
                        ></v-autocomplete>

                        <v-autocomplete
                            name="bladeCurve"
                            v-model="form.bladeCurve"
                            id="bladeCurve"
                            :label="$t('bladeSize')"
                            :items="sizesEnum.STICK.BLADE_CURVE"
                            :placeholder="$t('chooseBladeSize')"
                            :auto-select-first='true'
                            variant='underlined'
                            clearable
                            :error-messages="fieldErrors('bladeCurve')"
                            @update:model-value="v$.bladeCurve.$touch()"
                            @blur="v$.bladeCurve.$touch()"
                            @update:modelValue="resetFieldError('bladeCurve')"
                        ></v-autocomplete>

                        <v-autocomplete
                            name="bladeSide"
                            v-model="form.bladeSide"
                            id="bladeSide"
                            :label="$t('grip')"
                            :items="getSelectionItems(sizesEnum.STICK.BLADE_SIDE)"
                            item-title="text"
                            item-value="value"
                            :placeholder="$t('chooseGrip')"
                            :auto-select-first='true'
                            variant='underlined'
                            clearable
                            :error-messages="fieldErrors('bladeSide')"
                            @update:model-value="v$.bladeSide.$touch()"
                            @blur="v$.bladeSide.$touch()"
                            @update:modelValue="resetFieldError('bladeSide')"
                        ></v-autocomplete>

                        <v-autocomplete
                            name="stickFlex"
                            v-model="form.stickFlex"
                            id="stickFlex"
                            :label="$t('flex')"
                            :items="sizesEnum.STICK.FLEX"
                            :placeholder="$t('chooseFlex')"
                            :auto-select-first='true'
                            variant='underlined'
                            clearable
                            :error-messages="fieldErrors('stickFlex')"
                            @update:model-value="v$.stickFlex.$touch()"
                            @blur="v$.stickFlex.$touch()"
                            @update:modelValue="resetFieldError('stickFlex')"
                        ></v-autocomplete>
                    </div>

                    <div v-else-if="form.category === 'PANTS'
                        || form.category === 'SHOULDER_PADS'
                        || form.category === 'ELBOW_PADS'"
                    >
                        <v-combobox
                            name="size"
                            v-model="form.size"
                            id="size"
                            :label="$t('size')"
                            :items="getSelectionItems(getSizes(form.category))"
                            item-title="text"
                            item-value="value"
                            :placeholder="$t('chooseSize')"
                            :auto-select-first='true'
                            variant='underlined'
                            clearable
                            :error-messages="fieldErrors('size')"
                            @update:model-value="v$.size.$touch()"
                            @blur="v$.size.$touch()"
                            @update:modelValue="resetFieldError('size')"
                        ></v-combobox>
                    </div>

                    <div v-else>
                        <v-combobox
                            name="size"
                            v-model="form.size"
                            id="size"
                            :label="$t('size')"
                            :items="getSizes(form.category)"
                            :placeholder="$t('chooseSize')"
                            :auto-select-first='true'
                            variant='underlined'
                            clearable
                            :error-messages="fieldErrors('size')"
                            @update:model-value="v$.size.$touch()"
                            @blur="v$.size.$touch()"
                            @update:modelValue="resetFieldError('size')"
                        ></v-combobox>
                    </div>

                    <v-autocomplete
                        name="gender"
                        v-model="form.gender"
                        id="gender"
                        :label="$t('gender')"
                        :items="getSelectionItems(gendersEnum)"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseGender')"
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('gender')"
                        @update:model-value="v$.gender.$touch()"
                        @blur="v$.gender.$touch()"
                        @update:modelValue="resetFieldError('gender')"
                    ></v-autocomplete>

                    <v-text-field
                        name="quantity"
                        v-model="form.quantity"
                        id="quantity"
                        :label="$t('availableQuantity')"
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('quantity')"
                        @update:model-value="v$.quantity.$touch()"
                        @blur="v$.quantity.$touch()"
                        :disabled='!form.isAvailableForSale'
                        @update:modelValue="resetFieldError('quantity')"
                    ></v-text-field>

                    <v-checkbox
                        :label="$t('isAvailableForSale')"
                        name="isAvailableForSale"
                        v-model="form.isAvailableForSale"
                        id="isAvailableForSale"
                        color='blue'
                        density='compact'
                        :error-messages="fieldErrors('isAvailableForSale')"
                        @update:model-value="v$.isAvailableForSale.$touch()"
                        @blur="v$.isAvailableForSale.$touch()"
                        @update:modelValue="resetFieldError('isAvailableForSale')"
                    />

                    <v-checkbox
                        :label="$t('isActive')"
                        name="isActive"
                        v-model="form.isActive"
                        id="isActive"
                        color='blue'
                        density='compact'
                        :error-messages="fieldErrors('isActive')"
                        @update:model-value="v$.isActive.$touch()"
                        @blur="v$.isActive.$touch()"
                        @update:modelValue="resetFieldError('isActive')"
                    />

                    <v-checkbox
                        :label="$t('isPossibleToSendItemToParcelMachine')"
                        name="isParcelDelivery"
                        v-model="form.isParcelDelivery"
                        id="isParcelDelivery"
                        color='blue'
                        density='compact'
                        :error-messages="fieldErrors('isParcelDelivery')"
                        @update:model-value="v$.isParcelDelivery.$touch()"
                        @blur="v$.isParcelDelivery.$touch()"
                        @update:modelValue="resetFieldError('isParcelDelivery')"
                    />

                    <v-divider></v-divider>

                    <ValidateEach
                        v-for='(item, i) in form.imageCollection'
                        :key='i'
                        :state='item'
                        :rules='imageRules'
                    >
                        <template #default='{v}'>
                            <v-row
                                justify='center'
                                class='mt-2 align-center'
                            >
                                <v-col
                                    cols='12'
                                    sm='6'
                                >
                                    <v-file-input
                                        v-model="v.data.$model"
                                        :label="$t('image')"
                                        accept='image/png, image/jpeg, image/jpg, image/bmp, image/webp'
                                        :placeholder="$t('chooseImage')"
                                        prepend-icon='mdi-camera'
                                        variant='underlined'
                                        clearable
                                        show-size
                                        :error-messages="validateImage(v.data, i)"
                                        @change="createImage(i)"
                                        @click:clear="deleteImage(i)"
                                    ></v-file-input>
                                </v-col>

                                <v-col
                                    cols='12'
                                    sm='6'
                                >
                                    <v-img
                                        max-height='300'
                                        :src="form.imageCollection[i].preview"
                                    ></v-img>
                                </v-col>
                            </v-row>
                        </template>
                    </ValidateEach>

                    <v-btn
                        color='success'
                        variant='tonal'
                        class='my-4'
                        v-on:click='addImage()'
                        :prepend-icon='newImageBtn.icon'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t(newImageBtn.title) }}
                    </v-btn>

                    <v-divider></v-divider>

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t('add') }}
                    </v-btn>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { computed } from 'vue'
    import { mapGetters, mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, maxLength, minLength, decimal, minValue, maxValue, integer, helpers } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import { ValidateEach } from '@vuelidate/components'
    import useMessage from '../composables/useMessage';
    import useSelection from '../composables/useSelection';
    import useSizes from '../composables/useSizes';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useImage from '../composables/useImage';
    import useImageRules from '../composables/rules/useImageRules';
    import useFieldErrors from '../composables/useFieldErrors';
    import { $t } from "../locales/localization";

    export default {
        components: {
            SubNavigation,
            ValidateEach,
        },

        setup () {
            const { formValues } = useFormData(
                {
                    title: '',
                    description: '',
                    brand: '',
                    price: 100.00,
                    state: 'NEW',
                    category: '',
                    size: '',
                    stickFlex: '',
                    bladeCurve: '',
                    bladeSide: 'LEFT',
                    stickSize: '',
                    skateSize: '',
                    skateLength: '',
                    skateWidth: '',
                    isActive: true,
                    isAvailableForSale: true,
                    gender: '',
                    quantity: 1,
                    isParcelDelivery: true,
                    imageCollection: [],
                    recaptcha: '',
                },
            );
            const { errorValues } = useErrorData(
                {
                    title: null,
                    description: null,
                    brand: null,
                    price: null,
                    state: null,
                    category: null,
                    size: null,
                    stickFlex: null,
                    bladeCurve: null,
                    bladeSide: null,
                    stickSize: null,
                    skateSize: null,
                    skateLength: null,
                    skateWidth: null,
                    isActive: null,
                    isAvailableForSale: null,
                    gender: null,
                    quantity: null,
                    isParcelDelivery: null,
                    imageCollection: null,
                }
            );
            const { addImage, createImage, deleteImage, removeEmptyImages, validateImage } = useImage(
                {
                    new: 'imageCollection',
                    error: 'imageCollection',
                },
                formValues,
                errorValues,
            );
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getSelectionItems } = useSelection();
            const { getSizes, getSkateLengths, resetSizes, resetSkateLength } = useSizes(formValues);
            const { imageRules } = useImageRules();
            const validationRules = computed(() => {
                return {
                    title: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '3' }), minLength(3)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '256' }), maxLength(256)),
                    },
                    description: {
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '4096' }), maxLength(4096)),
                    },
                    price: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        decimal: helpers.withMessage($t('validation.mayContainOnlyNaturalNumbersOrNumbersWithDot'), decimal),
                        minValue: helpers.withMessage($t('validation.mustBeAPositiveValue'), minValue(0.00)),
                        maxValue: helpers.withMessage($t('validation.numberTooLarge'), maxValue(2000000000.00)),
                    },
                    category: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                    },
                    state: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                    },
                    brand: { },
                    size: { },
                    stickFlex: { },
                    bladeCurve: { },
                    bladeSide: { },
                    stickSize: { },
                    skateSize: { },
                    skateLength: { },
                    skateWidth: { },
                    isActive: { },
                    isAvailableForSale: { },
                    quantity: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        integer: helpers.withMessage($t('validation.mayContainOnlyNaturalNumbers'), integer),
                        minValue: helpers.withMessage($t('validation.mustBeAPositiveValue'), minValue(formValues.isActive && formValues.isAvailableForSale ? 1 : 0)),
                        maxValue: helpers.withMessage($t('validation.numberTooLarge'), maxValue(2000000000)),
                    },
                    gender: { },
                    isParcelDelivery: { },
                }
            });
            const v$ = useVuelidate(validationRules, formValues);
            const { fieldErrors, resetFieldError } = useFieldErrors(v$, errorValues);

            return {
                form: formValues,
                errors: errorValues,
                addImage,
                createImage,
                deleteImage,
                removeEmptyImages,
                validateImage,
                v$,
                imageRules,
                setErrorMessage,
                setNotificationMessage,
                getSelectionItems,
                getSizes,
                getSkateLengths,
                resetSizes,
                resetSkateLength,
                fieldErrors,
                resetFieldError,
            };
        },

        data () {
            return {
                loading: false,
                newImageBtn: { title: 'newImage', icon: 'mdi-plus' },
                navHelperItems: [
                    {
                        title: 'navigation.adverts',
                        disabled: false,
                        href: '/adverts',
                    },
                    {
                        title: 'newAdvert',
                        disabled: true,
                        href: '/newItem',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                categoriesEnum: 'enums/categories',
                conditionsEnum: 'enums/conditions',
                brandsEnum: 'enums/brands',
                sizesEnum: 'enums/sizes',
                gendersEnum: 'enums/genders',
            }),
        },

        methods: {
            ...mapActions({
                getItemListAction: 'items/getItems',
            }),

            addItem() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.loading = true;
                    this.removeEmptyImages();
                    this.$recaptcha('addItem').then(token => {
                        this.form.recaptcha = token;
                        axios.post('/api/storeItem', this.form).then(response => {
                            this.loading = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.getItemListAction();
                                this.$router.push({ name: 'Adverts' });
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.title) {
                                        this.errors.title = response.data.errors.title;
                                    }
                                    if (response.data.errors.description) {
                                        this.errors.description = response.data.errors.description;
                                    }
                                    if (response.data.errors.price) {
                                        this.errors.price = response.data.errors.price;
                                    }
                                    if (response.data.errors.category) {
                                        this.errors.category = response.data.errors.category;
                                    }
                                    if (response.data.errors.isActive) {
                                        this.errors.isActive = response.data.errors.isActive;
                                    }
                                    if (response.data.errors.isAvailableForSale) {
                                        this.errors.isAvailableForSale = response.data.errors.isAvailableForSale;
                                    }
                                    if (response.data.errors.state) {
                                        this.errors.state = response.data.errors.state;
                                    }
                                    if (response.data.errors.brand) {
                                        this.errors.brand = response.data.errors.brand;
                                    }
                                    if (response.data.errors.size) {
                                        this.errors.size = response.data.errors.size;
                                    }
                                    if (response.data.errors.stickFlex) {
                                        this.errors.stickFlex = response.data.errors.stickFlex;
                                    }
                                    if (response.data.errors.bladeCurve) {
                                        this.errors.bladeCurve = response.data.errors.bladeCurve;
                                    }
                                    if (response.data.errors.bladeSide) {
                                        this.errors.bladeSide = response.data.errors.bladeSide;
                                    }
                                    if (response.data.errors.stickSize) {
                                        this.errors.stickSize = response.data.errors.stickSize;
                                    }
                                    if (response.data.errors.skateSize) {
                                        this.errors.skateSize = response.data.errors.skateSize;
                                    }
                                    if (response.data.errors.skateLength) {
                                        this.errors.skateLength = response.data.errors.skateLength;
                                    }
                                    if (response.data.errors.skateWidth) {
                                        this.errors.skateWidth = response.data.errors.skateWidth;
                                    }
                                    if (response.data.errors.gender) {
                                        this.errors.gender = response.data.errors.gender;
                                    }
                                    if (response.data.errors.quantity) {
                                        this.errors.quantity = response.data.errors.quantity;
                                    }
                                    if (response.data.errors.isParcelDelivery) {
                                        this.errors.isParcelDelivery = response.data.errors.isParcelDelivery;
                                    }
                                    if (response.data.errors.imageCollection && response.data.errors.imageCollection.length > 0) {
                                        this.errors.imageCollection = response.data.errors.imageCollection;
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.loading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.loading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
        },
    }
</script>

<style scoped>

</style>
