<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('newUser') }}</h1>
            </v-col>

            <v-col
                class='mt-3'
                cols='12'
                sm='8'
                md='6'
            >
                <form @submit.prevent="addUser">
                    <v-text-field
                        name="username"
                        v-model="form.username"
                        id="username"
                        :label="$t('username')"
                        type="text"
                        variant='underlined'
                        :counter="64"
                        :error-messages="fieldErrors('username')"
                        @blur="v$.username.$touch()"
                        @update:modelValue="resetFieldError('username')"
                    ></v-text-field>

                    <v-text-field
                        name="email"
                        v-model="form.email"
                        id="email"
                        :label="$t('email')"
                        type="email"
                        variant='underlined'
                        :error-messages="fieldErrors('email')"
                        @blur="v$.email.$touch()"
                        @update:modelValue="resetFieldError('email')"
                    ></v-text-field>

                    <v-text-field
                        name="password"
                        v-model="form.password"
                        id="password"
                        :label="$t('password')"
                        type="password"
                        variant='underlined'
                        :error-messages="fieldErrors('password')"
                        @update:model-value="v$.password.$touch()"
                        @blur="v$.password.$touch()"
                        @update:modelValue="resetFieldError('password')"
                    ></v-text-field>

                    <v-text-field
                        name="password_confirmation"
                        v-model="form.password_confirmation"
                        id="password_confirmation"
                        :label="$t('passwordRepeatedly')"
                        type="password"
                        variant='underlined'
                        :error-messages="fieldErrorsWithoutCustomErrors('password_confirmation')"
                        @update:model-value="v$.password_confirmation.$touch()"
                        @blur="v$.password_confirmation.$touch()"
                    ></v-text-field>

                    <v-autocomplete
                        name="language"
                        v-model="form.language"
                        id="language"
                        :label="$t('language')"
                        :items="getSelectionItems(languagesEnum)"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseLanguage')"
                        variant='underlined'
                        :error-messages="fieldErrors('language')"
                        @update:model-value="v$.language.$touch()"
                        @blur="v$.language.$touch()"
                        @update:modelValue="resetFieldError('language')"
                    ></v-autocomplete>

                    <v-checkbox
                        :label="$t('isBlocked')"
                        name="isBlocked"
                        v-model="form.isBlocked"
                        id="isBlocked"
                        color='blue'
                        density='compact'
                        :disabled="!getIsActionAllowed(markUserRole)"
                        :error-messages="fieldErrors('isBlocked')"
                        @update:model-value="v$.isBlocked.$touch()"
                        @blur="v$.isBlocked.$touch()"
                        @update:modelValue="resetFieldError('isBlocked')"
                    />

                    <v-autocomplete
                        name="roles"
                        v-model="form.roles"
                        id="roles"
                        :label="$t('allowedRoles')"
                        :items="getAvailableRoles()"
                        :placeholder="$t('chooseRoles')"
                        variant='underlined'
                        chips
                        multiple
                        clearable
                        closable-chips
                        :error-messages="fieldErrors('roles')"
                        @update:model-value="v$.roles.$touch()"
                        @blur="v$.roles.$touch()"
                        @update:modelValue="resetFieldError('roles')"
                    ></v-autocomplete>

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t('register') }}
                    </v-btn>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { computed, ref } from 'vue'
    import { mapGetters, mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, maxLength, minLength, email, sameAs, helpers } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import useUserRules from '../composables/rules/useUserRules';
    import useMessage from '../composables/useMessage';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useFieldErrors from '../composables/useFieldErrors';
    import useSelection from '../composables/useSelection';
    import useRole from '../composables/useRole';
    import { $t } from "../locales/localization";

    export default {
        components: {
            SubNavigation,
        },

        setup () {
            const isLoading = ref(false);

            const { formValues } = useFormData(
                {
                    username: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    language: 'lv',
                    isBlocked: false,
                    roles: [ ],
                    recaptcha: '',
                },
            );
            const { errorValues } = useErrorData(
                {
                    username: null,
                    email: null,
                    password: null,
                    language: null,
                    isBlocked: null,
                    roles: null,
                }
            );
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getSelectionItems } = useSelection();
            const { getIsActionAllowed, getAvailableRoles } = useRole();
            const { isUsernameAvailableRule, isEmailAvailableRule } = useUserRules(formValues, isLoading);

            const validationRules = computed(() => {
                return {
                    username: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '3' }), minLength(3)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '64' }), maxLength(64)),
                        isUsernameAvailable: isUsernameAvailableRule,
                    },
                    email: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        email: helpers.withMessage($t('validation.invalidEmail'), email),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '256' }), maxLength(256)),
                        isEmailAvailable: isEmailAvailableRule,
                    },
                    password: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '8' }), minLength(8)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '1024' }), maxLength(1024)),
                    },
                    password_confirmation: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '8' }), minLength(8)),
                        sameAsPassword: helpers.withMessage($t('validation.passwordsDoNotMatch'), sameAs(formValues.password)),
                    },
                    language: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                    },
                    isBlocked: { },
                    roles: { },
                }
            });

            const v$ = useVuelidate(validationRules, formValues);

            const { fieldErrors, resetFieldError, fieldErrorsWithoutCustomErrors } = useFieldErrors(v$, errorValues);

            return {
                form: formValues,
                loading: isLoading,
                errors: errorValues,
                v$,
                setErrorMessage,
                setNotificationMessage,
                getSelectionItems,
                getIsActionAllowed,
                getAvailableRoles,
                fieldErrors,
                resetFieldError,
                fieldErrorsWithoutCustomErrors,
            };
        },

        data () {
            return {
                markUserRole: 'markUser',
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'navigation.controlPanel',
                        disabled: false,
                        href: '/controlPanel',
                    },
                    {
                        title: 'controlPanel.users',
                        disabled: false,
                        href: '/controlPanel/users',
                    },
                    {
                        title: 'newUser',
                        disabled: true,
                        href: '/addUser',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                languagesEnum: 'enums/languages',
            }),
        },

        methods: {
            ...mapActions({
                getAllRolesListAction: 'auth/getAllRoles',
            }),

            addUser() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.loading = true;
                    this.$recaptcha('addUser').then(token => {
                        this.form.recaptcha = token;
                        axios.post('/api/storeUser', this.form).then((response) => {
                            this.loading = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.$router.push({ name: 'Users' });
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.username) {
                                        this.errors.username = response.data.errors.username;
                                    }
                                    if (response.data.errors.email) {
                                        this.errors.email = response.data.errors.email;
                                    }
                                    if (response.data.errors.password) {
                                        this.errors.password = response.data.errors.password;
                                    }
                                    if (response.data.errors.language) {
                                        this.errors.language = response.data.errors.language;
                                    }
                                    if (response.data.errors.isBlocked) {
                                        this.errors.isBlocked = response.data.errors.isBlocked;
                                    }
                                    if (response.data.errors.roles) {
                                        this.errors.roles = response.data.errors.roles;
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.loading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.loading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
        },

        created () {
            this.getAllRolesListAction();
        },
    }
</script>

<style scoped>

</style>
