<template>
    <v-container
        fluid
        grid-list-md
    >
        <v-row class='text-center align-center mt-12'>
            <v-col
                cols='12'
                md='4'
            >
                <h4 v-if="getOnlyVisibleItems.length">
                    {{ $t('showing') }}: {{ ((pagination.page - 1) * pagination.perPage) + 1 }} -
                    {{
                        (pagination.page * pagination.perPage) > filteredAndSortedItemList.length
                            ? filteredAndSortedItemList.length
                            : (pagination.page * pagination.perPage)
                    }}
                    | {{ $t('totalOf') }}: {{ filteredAndSortedItemList.length }}
                </h4>
            </v-col>

            <v-col
                cols='12'
                md='4'
            >
                <h1>{{ $t('navigation.adverts') }}</h1>
            </v-col>

            <v-col
                cols='12'
                md='4'
                class='d-flex justify-end align-center'
            >
                <v-btn v-if="authenticated"
                    class='mx-2'
                    color='light-blue-darken-4'
                    variant='outlined'
                    size='small'
                    :icon='refreshDataBtn.icon'
                    v-on:click.prevent="refreshData"
                    :loading="isListLoading"
                    :disabled="isListLoading"
                ></v-btn>

                <v-btn v-if="authenticated"
                    class='mx-2'
                    color='success'
                    :append-icon='newItemBtn.icon'
                    :to="newItemBtn.path"
                    :loading="isListLoading"
                    :disabled="isListLoading"
                >
                    {{ $t(newItemBtn.title) }}
                </v-btn>
            </v-col>
        </v-row>

        <v-row class='text-center align-center mt-12'>
            <v-col
                v-if='isListLoading'
                cols='12'
            >
                <v-progress-circular
                    :size="40"
                    color='blue'
                    indeterminate
                ></v-progress-circular>
            </v-col>

            <v-col
                v-else-if='!itemsList.length'
                cols='12'
            >
                <h3>{{ $t('noRecords') }}</h3>
            </v-col>

            <v-row
                v-else
                no-gutters
            >
                <v-col
                    cols='12'
                    sm='3'
                    md='2'
                    class='px-3'
                >
                    <v-btn
                        v-if='xs'
                        color='cyan'
                        variant='tonal'
                        class='w-100 my-2 no-text-transform'
                        :prepend-icon='selectionCriteriaBtn.icon'
                        v-on:click.prevent='toggleSelectionCriteria()'
                    >
                        <p class='text-wrap'>
                            {{ $t(selectionCriteriaBtn.title) }}
                        </p>
                    </v-btn>

                    <div v-if='smAndUp || (xs && snowSelectionCriteria)'>
                        <v-btn
                            v-if='!isCriteriaEmpty'
                            color='amber'
                            variant='plain'
                            class='w-100 my-2 no-text-transform'
                            v-on:click.prevent='clearSelectionCriteria'
                        >
                            <p class='text-wrap'>
                                {{ $t('clearSelectionCriteria') }}
                            </p>
                        </v-btn>

                        <v-select
                            name="perPage"
                            v-model="pagination.perPage"
                            id="perPage"
                            :label="$t('show')"
                            :items="perPageList"
                            variant='underlined'
                            hide-selected
                        ></v-select>

                        <v-select
                            name="sortBy"
                            v-model="sortBy"
                            id="sortBy"
                            :label="$t('sortBy')"
                            :items="getSelectionItems(sortList)"
                            item-title="text"
                            item-value="value"
                            variant='underlined'
                            hide-selected
                        ></v-select>

                        <v-select
                            name="itemAvailability"
                            v-model="itemAvailability"
                            id="itemAvailability"
                            :label="$t('showItems')"
                            :items="getSelectionItems(availabilityList)"
                            item-title="text"
                            item-value="value"
                            variant='underlined'
                            hide-selected
                        ></v-select>

                        <v-row>
                            <v-col
                                cols="12"
                                sm="6"
                            >
                                <v-text-field
                                    name="minPrice"
                                    v-model="form.minPrice"
                                    id="minPrice"
                                    :label="$t('priceFrom')"
                                    prefix="€"
                                    variant='outlined'
                                    @update:modelValue="updatePrice('minPrice')"
                                    :disabled='!onlyActiveItemList.length'
                                    :error="fieldErrors('minPrice').length > 0"
                                    @update:model-value="v$.minPrice.$touch()"
                                    @blur="v$.minPrice.$touch()"
                                ></v-text-field>
                            </v-col>

                            <v-col
                                cols="12"
                                sm="6"
                            >
                                <v-text-field
                                    name="maxPrice"
                                    v-model="form.maxPrice"
                                    id="maxPrice"
                                    :label="$t('priceTo')"
                                    prefix="€"
                                    variant='outlined'
                                    @update:modelValue="updatePrice('maxPrice')"
                                    :disabled='!onlyActiveItemList.length'
                                    :error="fieldErrors('maxPrice').length > 0"
                                    @update:model-value="v$.maxPrice.$touch()"
                                    @blur="v$.maxPrice.$touch()"
                                ></v-text-field>
                            </v-col>
                        </v-row>

                        <v-autocomplete
                            name="category"
                            v-model="category"
                            id="category"
                            :label="$t('category')"
                            :items="getSelectionItems(categoriesEnum)"
                            item-title="text"
                            item-value="value"
                            variant='underlined'
                            clearable
                        ></v-autocomplete>

                        <v-autocomplete
                            name="brands"
                            v-model="brands"
                            id="brands"
                            :label="$t('brand')"
                            multiple
                            chips
                            :items="getSelectionItems(brandsEnum)"
                            item-title="text"
                            item-value="value"
                            variant='underlined'
                            clearable
                            closable-chips
                        ></v-autocomplete>

                        <v-autocomplete
                            name="sizes"
                            v-model="sizes"
                            id="sizes"
                            :label="$t('size')"
                            multiple
                            chips
                            :items="getAvailableSizes()"
                            item-title="text"
                            item-value="value"
                            variant='underlined'
                            clearable
                            closable-chips
                            :disabled="!isSizeSearchableCategorySelected"
                        ></v-autocomplete>

                        <v-autocomplete
                            name="conditions"
                            v-model="conditions"
                            id="conditions"
                            :label="$t('state')"
                            multiple
                            chips
                            :items="getSelectionItems(conditionsEnum)"
                            item-title="text"
                            item-value="value"
                            variant='underlined'
                            clearable
                            closable-chips
                        ></v-autocomplete>

                        <v-autocomplete
                            v-if="category === 'STICKS'"
                            name="stickSizes"
                            v-model="stickSizes"
                            id="stickSizes"
                            :label="$t('stickSize')"
                            multiple
                            chips
                            :items="sizesEnum.STICK.SIZE"
                            variant='underlined'
                            clearable
                            closable-chips
                        ></v-autocomplete>

                        <v-autocomplete
                            v-if="category === 'STICKS'"
                            name="bladeCurves"
                            v-model="bladeCurves"
                            id="bladeCurves"
                            :label="$t('stickBlade')"
                            multiple
                            chips
                            :items="sizesEnum.STICK.BLADE_CURVE"
                            variant='underlined'
                            clearable
                            closable-chips
                        ></v-autocomplete>

                        <v-range-slider
                            v-if="category === 'STICKS'"
                            name="stickFlex"
                            v-model="stickFlexRange"
                            id="stickFlex"
                            :label="$t('stickFlex')"
                            :max='flexMax'
                            :min='flexMin'
                            step="1"
                            color='blue'
                            thumb-label='always'
                            class="align-center"
                            density='comfortable'
                        ></v-range-slider>

                        <v-autocomplete
                            v-if="category === 'STICKS'"
                            name="bladeSides"
                            v-model="bladeSides"
                            id="bladeSides"
                            :label="$t('stickGrip')"
                            multiple
                            chips
                            :items="getSelectionItems(sizesEnum.STICK.BLADE_SIDE)"
                            item-title="text"
                            item-value="value"
                            variant='underlined'
                            clearable
                            closable-chips
                        ></v-autocomplete>

                        <v-autocomplete
                            v-if="category === 'SKATES'"
                            name="skateSizes"
                            v-model="skateSizes"
                            id="skateSizes"
                            :label="$t('skateSize')"
                            multiple
                            chips
                            :items="getSelectionItems(sizesEnum.SKATES.SIZE)"
                            item-title="text"
                            item-value="value"
                            :auto-select-first='true'
                            variant='underlined'
                            clearable
                            closable-chips
                        ></v-autocomplete>

                        <v-autocomplete
                            v-if="category === 'SKATES'"
                            name="skateLengths"
                            v-model="skateLengths"
                            id="skateLengths"
                            :label="$t('skateLengths')"
                            multiple
                            chips
                            :items="getSkateLengthsWithSizes(skateSizes)"
                            item-title="text"
                            item-value="value"
                            variant='underlined'
                            clearable
                            closable-chips
                            :disabled="!skateSizes || !skateSizes.length"
                        ></v-autocomplete>

                        <v-autocomplete
                            v-if="category === 'SKATES'"
                            name="skateWidths"
                            v-model="skateWidths"
                            id="skateWidths"
                            :label="$t('skateWidths')"
                            multiple
                            chips
                            :items="sizesEnum.SKATES.WIDTH"
                            variant='underlined'
                            clearable
                            closable-chips
                        ></v-autocomplete>

                        <v-autocomplete
                            name="genders"
                            v-model="genders"
                            id="genders"
                            :label="$t('gender')"
                            multiple
                            chips
                            :items="getSelectionItems(gendersEnum)"
                            item-title="text"
                            item-value="value"
                            variant='underlined'
                            clearable
                            closable-chips
                        ></v-autocomplete>

                        <v-divider v-if='xs' class='border-opacity-50 pb-4'></v-divider>
                    </div>
                </v-col>

                <v-divider
                    v-if='smAndUp'
                    class='border-opacity-25'
                    vertical
                ></v-divider>

                <v-col
                    cols='12'
                    sm='9'
                    md='10'
                >
                    <v-progress-circular
                        v-if='isPreparingList'
                        :size="40"
                        color='blue'
                        indeterminate
                    ></v-progress-circular>

                    <h3 v-else-if="!getOnlyVisibleItems.length">
                        {{ $t('noRecords') }}
                    </h3>

                    <v-row
                        v-else
                        no-gutters
                    >
                        <v-col
                            v-for="(item, i) in getOnlyVisibleItems"
                            :key="i"
                            cols='12'
                            sm='4'
                            md='3'
                        >
                            <AdvertItem :item="item" />
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-row>

        <v-pagination
            v-if='!isListLoading && itemsList.length > 0'
            v-model='pagination.page'
            rounded='circle'
            density='comfortable'
            :length="getPaginatorLength()"
            :total-visible="7"
        ></v-pagination>
    </v-container>
</template>

<script>
    import { computed } from 'vue'
    import AdvertItem from '../components/items/AdvertItem.vue';
    import { mapGetters, mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { decimal, minValue, maxValue } from '@vuelidate/validators';
    import { useDisplay } from 'vuetify'
    import useMessage from '../composables/useMessage';
    import useSelection from '../composables/useSelection';
    import useSizes from '../composables/useSizes';
    import useCurrency from '../composables/useCurrency';
    import useSelectionCriteria from '../composables/useSelectionCriteria';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useFieldErrors from '../composables/useFieldErrors';

    export default {
        components: {
            AdvertItem,
        },

        setup () {
            const { formValues } = useFormData(
                {
                    minPrice: null,
                    maxPrice: null,
                },
            );

            const { errorValues } = useErrorData(
                {
                    minPrice: null,
                    maxPrice: null,
                }
            );

            const { xs, smAndUp } = useDisplay()
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getSelectionItems, getSelectionItemsWithoutEnums } = useSelection();
            const { getSkateLengthsWithSizes } = useSizes();
            const { toPrice } = useCurrency();
            const { snowSelectionCriteria, selectionCriteriaBtn, toggleSelectionCriteria } = useSelectionCriteria();

            const validationRules = computed(() => {
                return {
                    minPrice: {
                        decimal: decimal,
                        minValue: minValue(0.00),
                        maxValue: maxValue(formValues.maxPrice ? formValues.maxPrice : 2000000000.00),
                    },
                    maxPrice: {
                        decimal: decimal,
                        minValue: minValue(formValues.minPrice ?? 0),
                        maxValue:  maxValue(2000000000.00),
                    },
                }
            });

            const v$ = useVuelidate(validationRules, formValues);
            const { fieldErrors } = useFieldErrors(v$, errorValues);

            return {
                xs,
                smAndUp,
                setErrorMessage,
                setNotificationMessage,
                getSelectionItems,
                getSelectionItemsWithoutEnums,
                getSkateLengthsWithSizes,
                toPrice,
                snowSelectionCriteria,
                selectionCriteriaBtn,
                toggleSelectionCriteria,
                form: formValues,
                v$,
                fieldErrors,
            };
        },

        data () {
            return {
                newItemBtn: { title: 'add', path: '/newItem', icon: 'mdi-plus' },
                refreshDataBtn: { title: 'refresh', path: '', icon: 'mdi-cached' },

                isPreparingList: false,

                onlyActiveItemList: [],
                filteredAndSortedItemList: [],

                perPageList: [ 24, 48, 72 ],
                pagination: { page: 1, perPage: 24 },

                sortList: [ 'DATE_DESC', 'DATE_ASC', 'PRICE_DESC', 'PRICE_ASC' ],
                availabilityList: [ 'ALL', 'AVAILABLE_TO_PURCHASE', 'AVAILABLE_IN_STORE_ONLY' ],

                sortBy: 'DATE_DESC',
                itemAvailability: 'ALL',
                brands: [],
                category: '',
                conditions: [],
                skateSizes: [],
                skateLengths: [],
                skateWidths: [],
                stickSizes: [],
                bladeCurves: [],
                bladeSides: [],
                stickFlexRange: [ 1, 150 ],
                flexMin: 1,
                flexMax: 150,
                sizes: [],
                genders: [],
            }
        },

        computed: {
            ...mapGetters({
                isListLoading: 'items/isLoading',
                itemsList: 'items/itemsList',
                authenticated: 'auth/authenticated',
                isAuthLoading: 'auth/isLoading',
                categoriesEnum: 'enums/categories',
                conditionsEnum: 'enums/conditions',
                brandsEnum: 'enums/brands',
                sizesEnum: 'enums/sizes',
                gendersEnum: 'enums/genders',
                user: 'auth/user',
            }),

            getOnlyVisibleItems() {
                this.isPreparingList = true;

                this.onlyActiveItemList = this.getOnlyActiveItemList();

                this.filteredAndSortedItemList = this.getFilteredAndSortedItemList(this.onlyActiveItemList);

                const preparedItems = this.filteredAndSortedItemList.slice(
                    (this.pagination.page - 1) * this.pagination.perPage,
                    this.pagination.page * this.pagination.perPage,
                );

                this.isPreparingList = false;

                return preparedItems;
            },

            isCriteriaEmpty() {
                if (this.brands.length
                    || this.category
                    || this.conditions.length
                    || this.sizes.length
                    || this.genders.length
                    || this.form.minPrice
                    || this.form.maxPrice
                ) {
                    return false;
                }

                return true;
            },

            isSizeSearchableCategorySelected() {
                return this.category === 'HELMET'
                    || this.category === 'GLOVES'
                    || this.category === 'PANTS'
                    || this.category === 'SHOULDER_PADS'
                    || this.category === 'SHIN_GUARDS'
                    || this.category === 'ELBOW_PADS'
                    || this.category === 'BAGS'
                    || this.category === 'KITS';
            },
        },

        methods: {
            ...mapActions({
                getItemListAction: 'items/getItems',
            }),

            sortItemList(filteredAndSortedItemList) {
                if (this.sortBy === 'DATE_DESC') {
                    filteredAndSortedItemList = filteredAndSortedItemList.sort((b, a) =>
                        new Date(a.editedAt) - new Date(b.editedAt)
                    );
                } else if (this.sortBy === 'DATE_ASC') {
                    filteredAndSortedItemList = filteredAndSortedItemList.sort((a, b) =>
                        new Date(a.editedAt) - new Date(b.editedAt)
                    );
                } else if (this.sortBy === 'PRICE_DESC') {
                    filteredAndSortedItemList = filteredAndSortedItemList.sort((b, a) =>
                        a.priceInMinorUnit - b.priceInMinorUnit
                    );
                } else if (this.sortBy === 'PRICE_ASC') {
                    filteredAndSortedItemList = filteredAndSortedItemList.sort((a, b) =>
                        a.priceInMinorUnit - b.priceInMinorUnit
                    );
                }

                return filteredAndSortedItemList;
            },

            filterItemAvailability(filteredAndSortedItemList) {
                if (this.itemAvailability === 'ALL') {
                    filteredAndSortedItemList = filteredAndSortedItemList.filter(item =>
                        item.quantity >= 0 || this.authenticated
                    );
                } else if (this.itemAvailability === 'AVAILABLE_TO_PURCHASE') {
                    filteredAndSortedItemList = filteredAndSortedItemList.filter(item =>
                        item.isAvailableForSale && item.quantity > 0
                    );
                } else if (this.itemAvailability === 'AVAILABLE_IN_STORE_ONLY') {
                    filteredAndSortedItemList = filteredAndSortedItemList.filter(item =>
                        !item.isAvailableForSale && item.quantity === 0
                    );
                }

                return filteredAndSortedItemList
            },

            getOnlyActiveItemList() {
                let activeItemList = [];

                if (!this.isAuthLoading && Array.isArray(this.itemsList)) {
                    activeItemList = this.itemsList.filter((item) =>
                        item.isActive && item.quantity >= 0 || (this.authenticated && this.user.showInactive)
                    );
                    activeItemList = activeItemList.filter((item) =>
                        !item.isDeleted || (this.authenticated && this.user.showDeleted)
                    );
                }

                return activeItemList;
            },

            getFilteredAndSortedItemList(filteredAndSortedItemList) {
                filteredAndSortedItemList = this.filterItemAvailability(filteredAndSortedItemList);

                if (this.brands.length > 0) {
                    filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                        return this.brands.some(brand => item.brand === brand);
                    });
                }

                if (this.category) {
                    filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                        return item.category === this.category;
                    });
                }

                if (this.conditions.length > 0) {
                    filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                        return this.conditions.some(condition => item.state === condition);
                    });
                }

                if (this.genders.length > 0) {
                    filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                        return this.genders.some(gender => item.gender === gender);
                    });
                }

                if (this.form.minPrice) {
                    filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                        return (item.priceInMinorUnit / 100) >= parseFloat(this.form.minPrice);
                    });
                }

                if (this.form.maxPrice) {
                    filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                        return (item.priceInMinorUnit / 100) <= parseFloat(this.form.maxPrice);
                    });
                }

                if (this.category === 'SKATES') {
                    if (this.skateSizes.length > 0) {
                        filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                            return this.skateSizes.some(size => item.skateSize === size);
                        });

                        if (this.skateLengths.length > 0) {
                            filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                                return this.skateLengths.some(size =>
                                    (item.skateLength + ' - EUR ' + this.sizesEnum.SKATES.LENGTH[item.skateSize][item.skateLength].EUR) === size
                                );
                            });
                        }
                    }

                    if (this.skateWidths.length > 0) {
                        filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                            return this.skateWidths.some(width => item.skateWidth === width);
                        });
                    }
                }

                if (this.category === 'STICKS') {
                    if (this.stickSizes.length > 0) {
                        filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                            return this.stickSizes.some(size => item.stickSize === size);
                        });
                    }

                    if (this.bladeCurves.length > 0) {
                        filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                            return this.bladeCurves.some(curve => item.bladeCurve === curve);
                        });
                    }

                    if (this.stickFlexRange) {
                        filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                            return !item.stickFlex || (item.stickFlex >= this.stickFlexRange[0] && item.stickFlex <= this.stickFlexRange[1])
                        });
                    }

                    if (this.bladeSides.length > 0) {
                        filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                            return this.bladeSides.some(side => item.bladeSide === side);
                        });
                    }
                }

                if (this.isSizeSearchableCategorySelected) {
                    if (this.sizes.length > 0) {
                        filteredAndSortedItemList = filteredAndSortedItemList.filter(item => {
                            return this.sizes.some(size => item.size === size.toString());
                        });
                    }
                }

                filteredAndSortedItemList = this.sortItemList(filteredAndSortedItemList);

                return filteredAndSortedItemList;
            },

            refreshData() {
                this.getItemListAction().then((updated) => {
                    this.setNotificationMessage(this.$t('dataUpdated'));
                }).catch((error) => {
                    console.log(error);
                    this.setErrorMessage(this.$t('error.error'));
                });
            },

            clearSelectionCriteria() {
                this.brands = [];
                this.category = '';
                this.conditions = [];
                this.skateSizes = [];
                this.skateLengths = [];
                this.skateWidths = [];
                this.stickSizes = [];
                this.bladeCurves = [];
                this.bladeSides = [];
                this.stickFlexRange = [ 1, 150 ];
                this.sizes = [];
                this.genders = [];
                this.itemAvailability = this.availabilityList[0];
                this.form.minPrice = null,
                this.form.maxPrice = null,
                this.setNotificationMessage(this.$t('criteriaCleared'));
            },

            getAvailableSizes() {
                var availableSizes = [];
                var isCategoryEnumsAvailable = false;

                if (this.category) {
                    if (this.category === 'HELMET') {
                        availableSizes = availableSizes.concat(this.sizesEnum.HELMET);
                    } else if (this.category === 'GLOVES') {
                        availableSizes = availableSizes.concat(this.sizesEnum.GLOVES);
                    } else if (this.category === 'PANTS'
                        || this.category === 'SHOULDER_PADS'
                        || this.category === 'ELBOW_PADS'
                    ) {
                        isCategoryEnumsAvailable = true;
                        availableSizes = availableSizes.concat(this.sizesEnum.PANTS_SHOULDER_ELBOW_PAD_SIZES);
                    } else if (this.category === 'SHIN_GUARDS') {
                        availableSizes = availableSizes.concat(this.sizesEnum.SHIN_GUARD);
                    } else if (this.category === 'BAGS') {
                        availableSizes = availableSizes.concat(this.sizesEnum.BAG);
                    } else if (this.category === 'KITS') {
                        availableSizes = availableSizes.concat(this.sizesEnum.KIT);
                    }
                }

                if (isCategoryEnumsAvailable) {
                    return this.getSelectionItems([...new Set(availableSizes)]);
                }

                return this.getSelectionItemsWithoutEnums([...new Set(availableSizes)]);
            },

            getPaginatorLength() {
                return Math.ceil(this.filteredAndSortedItemList.length / this.pagination.perPage)
            },

            updatePrice(priceType) {
                if (priceType === 'minPrice') {
                    if (this.form.minPrice) {
                        if (isNaN(parseFloat(this.form.minPrice))) {
                            this.form.minPrice = null;
                        } else {
                            this.form.minPrice = parseFloat(this.form.minPrice);
                        }
                    }
                    if (this.form.minPrice < 0) {
                        this.form.minPrice = 0;
                    }
                } else if (priceType === 'maxPrice') {
                    if (this.form.maxPrice) {
                        if (isNaN(parseFloat(this.form.maxPrice))) {
                            this.form.maxPrice = null;
                        } else {
                            this.form.maxPrice = parseFloat(this.form.maxPrice);
                        }
                    }
                    if (this.form.maxPrice < 0) {
                        this.form.maxPrice = this.form.minPrice;
                    }
                }
            },
        },
    }
</script>

<style scoped>

</style>
