<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('changePassword') }}</h1>
            </v-col>

            <v-col
                class='mt-3'
                cols='12'
                sm='8'
                md='6'
            >
                <form @submit.prevent="newPass">
                    <v-text-field
                        name="currentPassword"
                        v-model="form.currentPassword"
                        id="currentPassword"
                        :label="$t('currentPassword')"
                        type="password"
                        variant='underlined'
                        :error-messages="fieldErrors('currentPassword')"
                        @blur="v$.currentPassword.$touch()"
                        @update:modelValue="resetFieldError('currentPassword')"
                    ></v-text-field>

                    <v-text-field
                        name="newPassword"
                        v-model="form.newPassword"
                        id="newPassword"
                        :label="$t('newPassword')"
                        type="password"
                        variant='underlined'
                        :error-messages="fieldErrors('newPassword')"
                        @update:model-value="v$.newPassword.$touch()"
                        @blur="v$.newPassword.$touch()"
                        @update:modelValue="resetFieldError('newPassword')"
                    ></v-text-field>

                    <v-text-field
                        name="newPassword_confirmation"
                        v-model="form.newPassword_confirmation"
                        id="newPassword_confirmation"
                        :label="$t('newPasswordRepeatedly')"
                        type="password"
                        variant='underlined'
                        :error-messages="fieldErrorsWithoutCustomErrors('newPassword_confirmation')"
                        @update:model-value="v$.newPassword_confirmation.$touch()"
                        @blur="v$.newPassword_confirmation.$touch()"
                    ></v-text-field>

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t('change') }}
                    </v-btn>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { computed, ref, toRef } from 'vue'
    import { mapGetters, mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, maxLength, minLength, sameAs, not, helpers } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import useUserPasswordRules from '../composables/rules/useUserPasswordRules';
    import useMessage from '../composables/useMessage';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useFieldErrors from '../composables/useFieldErrors';
    import { $t } from "../locales/localization";

    export default {
        components: {
            SubNavigation,
        },

        setup () {
            const isLoading = ref(false);

            const { formValues } = useFormData(
                {
                    id: null,
                    currentPassword: '',
                    newPassword: '',
                    newPassword_confirmation: '',
                    recaptcha: '',
                },
            );
            const { errorValues } = useErrorData(
                {
                    currentPassword: null,
                    newPassword: null,
                }
            );
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { isPasswordCorrectRule } = useUserPasswordRules(formValues, isLoading);
            const validationRules = computed(() => {
                return {
                    currentPassword: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '8' }), minLength(8)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '1024' }), maxLength(1024)),
                        isPasswordCorrect: isPasswordCorrectRule,
                    },
                    newPassword: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '8' }), minLength(8)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '1024' }), maxLength(1024)),
                        notSameAs: helpers.withMessage($t('validation.mustNotBeTheSame'), not(sameAs(toRef(formValues, 'currentPassword')))),
                    },
                    newPassword_confirmation: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '8' }), minLength(8)),
                        sameAsPassword: helpers.withMessage($t('validation.passwordsDoNotMatch'), sameAs(formValues.newPassword)),
                    },
                }
            });
            const v$ = useVuelidate(validationRules, formValues);
            const { fieldErrors, resetFieldError, fieldErrorsWithoutCustomErrors } = useFieldErrors(v$, errorValues);

            return {
                form: formValues,
                loading: isLoading,
                errors: errorValues,
                v$,
                setErrorMessage,
                setNotificationMessage,
                fieldErrors,
                resetFieldError,
                fieldErrorsWithoutCustomErrors,
            };
        },

        data () {
            return {
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'account',
                        disabled: false,
                        href: '/account',
                    },
                    {
                        title: 'changePassword',
                        disabled: true,
                        href: '/changePass',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                user: 'auth/user',
            }),
        },

        methods: {
            ...mapActions({
                refreshUserDataAction: 'auth/login',
            }),

            newPass() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.loading = true;
                    this.$recaptcha('newPass').then(token => {
                        this.form.recaptcha = token;
                        this.form.id = this.user.id;
                        axios.post('/api/newPass', this.form).then(response => {
                            this.loading = false;
                            this.form.recaptcha = '';
                            this.form.id = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.refreshUserDataAction();
                                this.$router.push({ name: 'Account' });
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.currentPassword) {
                                        this.errors.currentPassword = response.data.errors.currentPassword;
                                    }
                                    if (response.data.errors.newPassword) {
                                        this.errors.newPassword = response.data.errors.newPassword;
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.form.id = '';
                            this.loading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.form.id = '';
                        this.loading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },
        },

        created () {
            if (!this.authenticated) {
                this.setErrorMessage(this.$t('error.userNotFound'));
                this.$router.push({ name: 'Home' });
            }
        },
    }
</script>

<style scoped>

</style>
