<template>
    <v-sheet class='d-flex align-center justify-center flex-wrap'>
        <div class='text-center pa-6'>
            <v-icon
                class='mb-5'
                color='green'
                :icon='icon'
                size='112'
            ></v-icon>

            <h2 class='text-h4 mb-6'>
                {{ $t('checkout.successful', { orderId: order.id }) }}
            </h2>

            <h2 class='text-h5 mb-6'>
                {{ $t('checkout.detailsSentToEmail', { email: order.email }) }}
            </h2>

            <v-btn
                color='green'
                variant='tonal'
                :to="continueShoppingBtn.path"
            >
                {{ $t(continueShoppingBtn.title) }}
            </v-btn>
        </div>
    </v-sheet>
</template>

<script>
    import useCart from '../composables/useCart';

    export default {
        setup () {
            const { removeItemsFromCart } = useCart();

            return { removeItemsFromCart };
        },

        data () {
            return {
                loading: false,
                icon: 'mdi-check-circle',
                continueShoppingBtn: { title: 'cart.continueShopping', path: '/adverts', icon: 'mdi-login-variant' },

                order: {
                    id: null,
                    email: null,
                    productList: null,
                },
            }
        },

        methods: {
            markOrder () {
                axios.get('/api/markOrder/' + this.order.id).then(response => {
                    if (!response.data.success) {
                        console.log(this.$t(response.data.message));
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },

            prepareAndRemoveItemsFromCart () {
                const preparedItemList = [];
                this.order.productList.forEach((product) => {
                    preparedItemList.push({ id: product.productId });
                });

                this.removeItemsFromCart(preparedItemList);
            },
        },

        created () {
            if (!this.$route.params.sessionId
                || !String(this.$route.params.sessionId)
            ) {
                this.setErrorMessage(this.$t('error.recordNotFound'));
                this.$router.push({ name: 'Adverts' });
            } else {
                this.loading = true;
                axios.get('/api/getSimpleOrderBySessionId/' + String(this.$route.params.sessionId)).then(response => {
                    this.loading = false;

                    if (response.data.success) {
                        this.order.id = response.data.order.id;
                        this.order.email = response.data.order.email;
                        this.order.productList = response.data.order.productList;

                        this.markOrder();
                        this.prepareAndRemoveItemsFromCart();
                    } else {
                        this.setErrorMessage(this.$t('error.recordNotFound'));
                        this.$router.push({ name: 'Adverts' });
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                    this.$router.push({ name: 'Adverts' });
                });
            }
        },
    }
</script>

<style scoped>

</style>
