<template>
    <v-container
        fluid
        grid-list-md
    >
        <v-row justify='center'>
            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('contactsAndRequisites.title') }}</h1>
            </v-col>

            <v-col
                class='my-3'
                cols='12'
                sm='10'
                md='8'
            >
                <div v-for='(item, i) in contactAndRequisitesList' :key='i'>
                    <h4 class='pt-3'>
                        {{ $t(item.title) }}
                    </h4>

                    <v-list
                        density='compact'
                        class='pa-2'
                    >
                        <v-list-item v-for='(subItem, j) in item.subList' :key='j'>
                            <v-list-item-title class='text-left'>
                                <span class="font-weight-bold">{{ $t(subItem.key) + ':' }}</span>
                                {{ $t(subItem.value) }}
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        components: { },

        data () {
            return {
                contactAndRequisitesList: [
                    {
                        title: 'contactsAndRequisites.contactInformation',
                        subList: [
                            {
                                key: 'contactsAndRequisites.phoneNumber',
                                value: 'contactsAndRequisites.phoneNumberProvided',
                            },
                            {
                                key: 'contactsAndRequisites.email',
                                value: 'contactsAndRequisites.emailProvided',
                            },
                        ],
                    },
                    {
                        title: 'contactsAndRequisites.workingTime',
                        subList: [
                            {
                                key: 'contactsAndRequisites.workdays',
                                value: 'contactsAndRequisites.workdaysProvided',
                            },
                            {
                                key: 'contactsAndRequisites.saturday',
                                value: 'contactsAndRequisites.saturdayProvided',
                            },
                            {
                                key: 'contactsAndRequisites.sunday',
                                value: 'contactsAndRequisites.sundayProvided',
                            },
                        ],
                    },
                    {
                        title: 'contactsAndRequisites.requisites',
                        subList: [
                            {
                                key: 'contactsAndRequisites.companyName',
                                value: 'contactsAndRequisites.companyNameProvided',
                            },
                            {
                                key: 'contactsAndRequisites.legalAddress',
                                value: 'contactsAndRequisites.legalAddressProvided',
                            },
                            {
                                key: 'contactsAndRequisites.actualAddress',
                                value: 'contactsAndRequisites.actualAddressProvided',
                            },
                            {
                                key: 'contactsAndRequisites.registrationNumber',
                                value: 'contactsAndRequisites.registrationNumberProvided',
                            },
                            {
                                key: 'contactsAndRequisites.vatNumber',
                                value: 'contactsAndRequisites.vatNumberProvided',
                            },
                            {
                                key: 'contactsAndRequisites.accountNumber',
                                value: 'contactsAndRequisites.accountNumberProvided',
                            },
                            {
                                key: 'contactsAndRequisites.bankCode',
                                value: 'contactsAndRequisites.bankCodeProvided',
                            },
                            {
                                key: 'contactsAndRequisites.bankName',
                                value: 'contactsAndRequisites.bankNameProvided',
                            },
                        ],
                    },
                ]
            }
        },
    }
</script>

<style scoped>

</style>
