<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
                md='4'
            >
                <h1>{{ $t('controlPanel.title') }}</h1>
            </v-col>
        </v-row>

        <v-row justify='center'>
            <v-col
                class='my-6'
                cols='12'
                sm='8'
                md='6'
            >
                <div
                    v-for='(option, i) in optionList'
                    :key='i'
                >
                    <v-btn
                        v-if='authenticated && getIsActionVisible(option)'
                        color='blue'
                        variant='tonal'
                        class='text-center my-3'
                        size="large"
                        :to="option.path"
                    >
                        {{ $t(option.title) }}
                    </v-btn>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { mapGetters } from 'vuex';
    import SubNavigation from '../components/SubNavigation.vue';
    import useRole from '../composables/useRole';

    export default {
        components: {
            SubNavigation,
        },

        setup () {
            const { getIsActionVisible } = useRole();
            return { getIsActionVisible };
        },

        data () {
            return {
                optionList: [
                    { title: 'controlPanel.productTables', path: '/controlPanel/productTables', role: 'seeTables' },
                    { title: 'controlPanel.users', path: '/controlPanel/users', role: 'addNewUser' },
                    { title: 'controlPanel.deliveryTypes', path: '/controlPanel/deliveryTypes', role: 'seeShippingData' },
                ],

                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'navigation.controlPanel',
                        disabled: true,
                        href: '/controlPanel',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
            }),
        },
    }
</script>

<style scoped>

</style>
