<template>
    <v-container
        class='py-4'
        fluid
    >
        <ConfirmDialog
            v-if="isConfirmDialogBoxVisible"
            :title="eventName"
            @data="prepareDialogData"
        />

        <v-row>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
                offset-md='4'
                md='4'
            >
                <h1>{{ $t('editService') }}</h1>
            </v-col>

            <v-col
                cols='12'
                md='4'
                class='d-flex justify-end align-center'
            >
                <v-btn
                    class='mx-2'
                    v-bind:color="form.isActive ? 'red' : 'blue'"
                    variant='tonal'
                    v-on:click.prevent="setDialogData('markService')"
                    :append-icon="form.isActive ? 'mdi-eye-off' : 'mdi-eye'"
                    :loading="loading"
                    :disabled="loading"
                >
                    {{ form.isActive ? $t('markAsInactive') : $t('markAsActive') }}
                </v-btn>

                <v-btn
                    class='mx-2'
                    color='red'
                    v-on:click.prevent="setDialogData('deleteService')"
                    append-icon='mdi-close'
                    :loading="loading"
                    :disabled="loading"
                >
                    {{ $t('delete') }}
                </v-btn>
            </v-col>
        </v-row>

        <v-row justify='center'>
            <v-col
                class='mt-3'
                cols='12'
                sm='8'
                md='6'
            >
                <form @submit.prevent="editService">
                    <v-autocomplete
                        name="serviceType"
                        v-model="form.serviceType"
                        id="serviceType"
                        :label="$t('type')"
                        :items="getSelectionItems(serviceTypesEnum)"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseType')"
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('serviceType')"
                        @update:model-value="v$.serviceType.$touch()"
                        @blur="v$.serviceType.$touch()"
                        @update:modelValue="resetFieldError('serviceType')"
                    ></v-autocomplete>

                    <v-text-field
                        name="title"
                        v-model="form.title"
                        id="title"
                        :label="$t('title')"
                        type="text"
                        :counter="256"
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('title')"
                        @update:model-value="v$.title.$touch()"
                        @blur="v$.title.$touch()"
                        @update:modelValue="resetFieldError('title')"
                    ></v-text-field>

                    <VuetifyTiptap
                        class="pt-2 pb-1"
                        name="note"
                        v-model="form.note"
                        id="note"
                        :dark="true"
                        :outlined="true"
                        required
                        @update:model-value="v$.note.$touch()"
                        @blur="v$.note.$touch()"
                        @update:modelValue="resetFieldError('note')"
                    />
                    <div
                        v-if='v$.note.$invalid'
                        class='text-red-lighten-1 pb-1'
                    >
                        {{ fieldErrors('note')[0] }}
                    </div>

                    <v-autocomplete
                        name="language"
                        v-model="form.language"
                        id="language"
                        :label="$t('descriptionLanguage')"
                        :items="getSelectionItems(getListWithNotSpecified(languagesEnum))"
                        item-title="text"
                        item-value="value"
                        :placeholder="$t('chooseLanguage')"
                        variant='underlined'
                        clearable
                        :error-messages="fieldErrors('language')"
                        @update:model-value="v$.language.$touch()"
                        @blur="v$.language.$touch()"
                        @update:modelValue="resetFieldError('language')"
                    ></v-autocomplete>

                    <v-text-field
                        name="price"
                        v-model="form.price"
                        id="price"
                        :label="$t('price')"
                        prefix="€"
                        variant='underlined'
                        :error-messages="fieldErrors('price')"
                        @update:model-value="v$.price.$touch()"
                        @blur="v$.price.$touch()"
                        @update:modelValue="resetFieldError('price')"
                    ></v-text-field>

                    <v-checkbox
                        :label="$t('isActive')"
                        name="isActive"
                        v-model="form.isActive"
                        id="isActive"
                        color='blue'
                        density='compact'
                        :error-messages="fieldErrors('isActive')"
                        @update:model-value="v$.isActive.$touch()"
                        @blur="v$.isActive.$touch()"
                        @update:modelValue="resetFieldError('isActive')"
                    />

                    <v-btn
                        color='blue'
                        variant='tonal'
                        type='submit'
                        class='text-center mt-4'
                        :loading='loading'
                        :disabled='loading'
                    >
                        {{ $t('edit') }}
                    </v-btn>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { computed } from 'vue'
    import { mapGetters, mapActions } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, maxLength, minLength, decimal, minValue, maxValue, helpers } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import ConfirmDialog from '../components/ConfirmDialog.vue';
    import useMessage from '../composables/useMessage';
    import useSelection from '../composables/useSelection';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useFieldErrors from '../composables/useFieldErrors';
    import { $t } from "../locales/localization";

    export default {
        components: {
            SubNavigation,
            ConfirmDialog,
        },

        setup () {
            const { formValues } = useFormData(
                {
                    id: null,
                    serviceType: null,
                    title: null,
                    note: null,
                    language: null,
                    price: null,
                    isActive: null,
                    recaptcha: '',
                },
            );
            const { errorValues } = useErrorData(
                {
                    serviceType: null,
                    title: null,
                    note: null,
                    language: null,
                    price: null,
                    isActive: null,
                }
            );
            const validationRules = computed(() => {
                return {
                    serviceType: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                    },
                    title: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '3' }), minLength(3)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '256' }), maxLength(256)),
                    },
                    note: {
                        minLength: helpers.withMessage($t('validation.mustBeAtLeastCharsLong', { num: '3' }), minLength(3)),
                        maxLength: helpers.withMessage($t('validation.mustBeCharsOrFewer', { num: '256' }), maxLength(256)),
                    },
                    language: { },
                    price: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        decimal: helpers.withMessage($t('validation.mayContainOnlyNaturalNumbersOrNumbersWithDot'), decimal),
                        minValue: helpers.withMessage($t('validation.mustBeAPositiveValue'), minValue(0.00)),
                        maxValue: helpers.withMessage($t('validation.numberTooLarge'), maxValue(2000000000.00)),
                    },
                    isActive: { },
                }
            });
            const v$ = useVuelidate(validationRules, formValues);

            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getListWithNotSpecified, getSelectionItems } = useSelection();
            const { fieldErrors, resetFieldError } = useFieldErrors(v$, errorValues);

            return {
                form: formValues,
                errors: errorValues,
                v$,
                setErrorMessage,
                setNotificationMessage,
                getListWithNotSpecified,
                getSelectionItems,
                fieldErrors,
                resetFieldError,
            };
        },

        data () {
            return {
                loading: false,
                isConfirmDialogBoxVisible: false,
                eventName: '',
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'editService',
                        disabled: true,
                        href: '/editService/',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                serviceTypesEnum: 'enums/serviceTypes',
                languagesEnum: 'enums/languages',
            }),
        },

        methods: {
            ...mapActions({
                getServiceListAction: 'services/getServices',
            }),

            editService() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.loading = true;
                    this.$recaptcha('editService').then(token => {
                        this.form.recaptcha = token;
                        axios.post('/api/editService', this.form).then(response => {
                            this.loading = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.getServiceListAction();
                                this.$router.push({ name: 'Home' });
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.serviceType) {
                                        this.errors.serviceType = response.data.errors.serviceType;
                                    }
                                    if (response.data.errors.title) {
                                        this.errors.title = response.data.errors.title;
                                    }
                                    if (response.data.errors.note) {
                                        this.errors.note = response.data.errors.note;
                                    }
                                    if (response.data.errors.language) {
                                        this.errors.language = response.data.errors.language;
                                    }
                                    if (response.data.errors.price) {
                                        this.errors.price = response.data.errors.price;
                                    }
                                    if (response.data.errors.isActive) {
                                        this.errors.isActive = response.data.errors.isActive;
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.loading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.loading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },

            markService(id) {
                this.loading = true;
                axios.get('/api/markService/' + id).then(response => {
                    this.loading = false;
                    if (response.data.success) {
                        this.setNotificationMessage(this.$t(response.data.message));
                        this.getServiceListAction();
                        this.$router.push({ name: 'Home' });
                    } else {
                        this.setErrorMessage(this.$t(response.data.message));
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },

            deleteService(id) {
                this.loading = true;
                axios.get('/api/deleteService/' + id).then(response => {
                    this.loading = false;
                    if (response.data.success) {
                        this.setNotificationMessage(this.$t(response.data.message));
                        this.getServiceListAction();
                        this.$router.push({ name: 'Home' });
                    } else {
                        this.setErrorMessage(this.$t(response.data.message));
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                });
            },

            setDialogData(eventName){
                this.isConfirmDialogBoxVisible = true;
                this.eventName = eventName;
            },

            prepareDialogData(payload) {
                this.isConfirmDialogBoxVisible = false;
                this.eventName = '';

                if (payload.isAccepted) {
                    if (payload.eventName === 'markService') {
                        this.markService(this.form.id);
                    } else if (payload.eventName === 'deleteService') {
                        this.deleteService(this.form.id);
                    }
                }
            },
        },

        created () {
            if (!this.$route.params.id
                || !Number.isInteger(parseInt(this.$route.params.id))
                || parseInt(this.$route.params.id) <= 0
            ) {
                this.setErrorMessage(this.$t('error.recordNotFound'));
                this.$router.push({ name: 'Home' });
            } else {
                this.loading = true;
                axios.get('/api/getService/' + this.$route.params.id).then(response => {
                    this.loading = false;
                    if (response.data.success) {
                        this.form.id = response.data.service.id;
                        this.form.serviceType = response.data.service.serviceType;
                        this.form.title = response.data.service.title;
                        this.form.note = response.data.service.note;
                        this.form.language = response.data.service.language;
                        if (this.form.language === null) {
                            this.form.language = '-';
                        }
                        this.form.price = response.data.service.priceInMinorUnit / 100;
                        this.form.isActive = !!response.data.service.isActive;
                    } else {
                        this.setErrorMessage(this.$t('error.recordNotFound'));
                        this.$router.push({ name: 'Home' });
                    }
                }).catch((error) => {
                    console.log(error);
                    this.loading = true;
                    this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                    this.$router.push({ name: 'Home' });
                });
            }
        },
    }
</script>

<style scoped>

</style>
