<template>
    <v-container
        fluid
        grid-list-md
    >
        <v-row justify='center'>
            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('faq.title') }}</h1>
            </v-col>

            <v-col
                class='my-3'
                cols='12'
                sm='10'
                md='8'
            >
                <v-expansion-panels>
                    <v-expansion-panel
                        v-for="(item, i) in questionAndAnswerList" :key="i"
                        :title='$t(item.question)'
                        :text='$t(item.answer)'
                    ></v-expansion-panel>
                </v-expansion-panels>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        components: { },

        data () {
            return {
                questionAndAnswerList: [
                    {
                        question: 'faq.whereIsOurStoreLocatedQuestion',
                        answer: 'faq.whereIsOurStoreLocatedAnswer',
                    },
                    {
                        question: 'faq.whatAreOurWorkingHoursQuestion',
                        answer: 'faq.whatAreOurWorkingHoursAnswer',
                    },
                    {
                        question: 'faq.whatProductsDoYouSellQuestion',
                        answer: 'faq.whatProductsDoYouSellAnswer',
                    },
                    {
                        question: 'faq.whatServicesDoYouProvideQuestion',
                        answer: 'faq.whatServicesDoYouProvideAnswer',
                    },
                    {
                        question: 'faq.doYouSellBothNewAndUsedHockeyEquipmentQuestion',
                        answer: 'faq.doYouSellBothNewAndUsedHockeyEquipmentAnswer',
                    },
                    {
                        question: 'faq.howDoYouEnsureTheQualityOfYourHockeyEquipmentQuestion',
                        answer: 'faq.howDoYouEnsureTheQualityOfYourHockeyEquipmentAnswer',
                    },
                    {
                        question: 'faq.whatAreTheMethodsOfDeliveryQuestion',
                        answer: 'faq.whatAreTheMethodsOfDeliveryAnswer',
                    },
                    {
                        question: 'faq.canITrackMyOrderOnceItIsShippedQuestion',
                        answer: 'faq.canITrackMyOrderOnceItIsShippedAnswer',
                    },
                    {
                        question: 'faq.isItPossibleToReceiveTheGoodsLocallyInTheStoreQuestion',
                        answer: 'faq.isItPossibleToReceiveTheGoodsLocallyInTheStoreAnswer',
                    },
                    {
                        question: 'faq.howLongDoesItTakeForTheOrderToBeDeliveredQuestion',
                        answer: 'faq.howLongDoesItTakeForTheOrderToBeDeliveredAnswer',
                    },
                    {
                        question: 'faq.whatPaymentOptionsAreAvailableQuestion',
                        answer: 'faq.whatPaymentOptionsAreAvailableAnswer',
                    },
                    {
                        question: 'faq.doYouHaveAWarrantyOrReturnPolicyQuestion',
                        answer: 'faq.doYouHaveAWarrantyOrReturnPolicyAnswer',
                    },
                    {
                        question: 'faq.canIReturnOrExchangeItemIfItDoesNotFitOrMeetMyNeedsQuestion',
                        answer: 'faq.canIReturnOrExchangeItemIfItDoesNotFitOrMeetMyNeedsAnswer',
                    },
                ],
            }
        },
    }
</script>

<style scoped>

</style>
