<template>
    <v-container
        fluid
        grid-list-md
    >
        <Carousel />

        <v-row class='text-center align-center mt-12'>
            <v-col
                class='text-center'
                cols='12'
                offset-md='4'
                md='4'
            >
                <h1>{{ $t('offers') }}</h1>
            </v-col>

            <v-col
                cols='12'
                md='4'
                class='d-flex justify-end align-center'
            >
               <v-btn v-if="authenticated"
                    class='mx-2'
                    color='success'
                    :append-icon='newOfferBtn.icon'
                    :to="newOfferBtn.path"
                    :loading="isOffersLoading"
                    :disabled="isOffersLoading"
                >
                    {{ $t(newOfferBtn.title) }}
                </v-btn>
            </v-col>
        </v-row>

        <v-row
            justify='center'
            class='text-center'
        >
            <v-col
                v-if="isOffersLoading"
                cols='12'
            >
                <v-progress-circular
                    :size="40"
                    color='blue'
                    indeterminate
                ></v-progress-circular>
            </v-col>

            <v-col
                v-else-if="!onlyActiveOfferList.length"
                cols='12'
            >
                <h3>{{ $t('noRecords') }}</h3>
            </v-col>

            <v-col
                v-else
                cols='12'
                sm='6'
                md='4'
                v-for="(offer, i) in onlyActiveOfferList" :key="i"
            >
                <OfferItem :item="offer" />
            </v-col>
        </v-row>

        <v-row class='text-center align-center mt-12'>
            <v-col
                class='text-center'
                cols='12'
                offset-md='4'
                md='4'
            >
                <h1>{{ $t('services') }}</h1>
            </v-col>

            <v-col
                cols='12'
                md='4'
                class='d-flex justify-end align-center'
            >
               <v-btn v-if="authenticated"
                    class='mx-2'
                    color='success'
                    :append-icon='newServiceBtn.icon'
                    :to="newServiceBtn.path"
                    :loading="isServicesLoading"
                    :disabled="isServicesLoading"
                >
                    {{ $t(newServiceBtn.title) }}
                </v-btn>
            </v-col>
        </v-row>

        <v-row
            justify='center'
            class='text-center'
        >
            <v-col
                v-if="isServicesLoading"
                cols='12'
            >
                <v-progress-circular
                    :size="40"
                    color='blue'
                    indeterminate
                ></v-progress-circular>
            </v-col>

            <v-col
                v-else-if="!servicesList.length"
                cols='12'
            >
                <h3>{{ $t('noRecords') }}</h3>
            </v-col>

            <v-col
                v-else
                cols='12'
                sm='10'
                md='8'
            >
                <v-col
                    v-if="onlyActiveServiceOfferList.length"
                    cols='12'
                >
                    <h3 class='mb-2 text-left'>
                        {{ $t('weOffer') }}
                    </h3>
                    <ServiceList :services="onlyActiveServiceOfferList" />
                </v-col>

                <v-col
                    v-if="onlyActiveServiceBuyList.length"
                    cols='12'
                    class='mt-6'
                >
                    <h3 class='mb-2 text-left'>
                        {{ $t('weBuy') }}
                    </h3>
                    <ServiceList :services="onlyActiveServiceBuyList" />
                </v-col>
            </v-col>
        </v-row>

        <v-row
            justify='center'
            class='mt-12'
        >
            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('contacts') }}</h1>
            </v-col>

            <v-col
                cols='12'
                sm='10'
                md='8'
            >
                <div class='text-white text-h6 mb-2'>
                    {{ $t('contact.forFasterCommunicationPleaseCallUs') }}
                    <span class='font-weight-bold'>
                        {{ $t('footer.phoneNumber') }}
                    </span>
                    {{ $t('contact.orSendUsMessage') }}
                </div>

                <Contact />
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { mapGetters } from 'vuex';
    import OfferItem from '../components/items/OfferItem.vue';
    import ServiceList from '../components/list/ServiceList.vue';
    import Contact from '../components/Contact.vue';
    import Carousel from '../components/Carousel.vue';

    export default {
        components: {
            OfferItem,
            ServiceList,
            Contact,
            Carousel,
        },

        data () {
            return {
                newServiceBtn: { title: 'add', path: '/newService', icon: 'mdi-plus' },
                newOfferBtn: { title: 'add', path: '/newOffer', icon: 'mdi-plus' },
            }
        },

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                isServicesLoading: 'services/isLoading',
                servicesList: 'services/servicesList',
                isOffersLoading: 'offers/isLoading',
                offersList: 'offers/offersList',
                user: 'auth/user',
            }),

            onlyActiveServiceList() {
                if (!Array.isArray(this.servicesList)) {
                    return [];
                }

                return this.servicesList.filter((service) => {
                    const isValidLanguage = service.language === null || service.language === this.$i18n.locale;
                    const isActiveAndCorrectLanguage = service.isActive && (this.authenticated || isValidLanguage);
                    const canAuthenticatedUserSeeInactive = this.authenticated && this.user.showInactive;

                    return isActiveAndCorrectLanguage || canAuthenticatedUserSeeInactive;
                });
            },

            onlyActiveServiceOfferList() {
                return this.onlyActiveServiceList.filter((service) =>
                    service.serviceType === 'OFFER'
                );
            },

            onlyActiveServiceBuyList() {
                return this.onlyActiveServiceList.filter((service) =>
                    service.serviceType === 'BUY'
                );
            },

            onlyActiveOfferList() {
                if (!Array.isArray(this.offersList)) {
                    return [];
                }

                return this.offersList.filter((offer) => {
                    const isValidLanguage = offer.language === null || offer.language === this.$i18n.locale;
                    const isActiveAndCorrectLanguage = offer.isActive && (this.authenticated || isValidLanguage);
                    const canAuthenticatedUserSeeInactive = this.authenticated && this.user.showInactive;

                    return isActiveAndCorrectLanguage || canAuthenticatedUserSeeInactive;
                });
            },
        },
    }
</script>

<style scoped>

</style>
