<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                cols='12'
                md='12'
                class='d-flex justify-end align-center'
            >
                <v-btn
                    v-if='isAuthenticated'
                    color='amber'
                    variant='tonal'
                    class='mx-2'
                    :to="editItemBtn.path + item.id"
                    :prepend-icon='editItemBtn.icon'
                    :loading="isLoading"
                    :disabled="isLoading"
                >
                    {{ $t(editItemBtn.title) }}
                </v-btn>
            </v-col>

            <v-col
                v-if='isLoading || isShippingDataLoading'
                cols='12'
                class='text-center'
            >
                <v-progress-circular
                    :size="40"
                    color='blue'
                    indeterminate
                ></v-progress-circular>
            </v-col>

            <v-col
                v-else
                class='my-5'
                cols='12'
                sm='10'
                md='8'
            >
                <v-row>
                    <v-col
                        cols='12'
                        sm='6'
                        md='4'
                        class='px-3'
                    >
                        <ExpandableCarousel
                            v-if='item.images.length'
                            :images='item.images'
                            :showEnlargingText='true'
                        />

                        <v-row v-else>
                            <v-col class="d-flex align-center justify-center flex-wrap" cols="12">
                                <v-icon
                                    icon='mdi-image-off-outline'
                                    size="100"
                                    class="my-12"
                                ></v-icon>
                            </v-col>
                        </v-row>
                    </v-col>

                    <v-col
                        cols='12'
                        sm='6'
                        md='8'
                        class='text-white'
                    >
                        <div class='d-flex flex-row text-h5 font-weight-medium pb-3'>
                            <span v-if='item.isDeleted' class='text-grey'>{{ $t('deleted') }}:&nbsp;</span>

                            <span v-else-if='!item.isActive || (item.isAvailableForSale && item.quantity < 1)' class='text-grey'>
                                {{ $t('inactive') }}:&nbsp;
                            </span>

                            {{ item.title }}
                        </div>

                        <div
                            v-if='isAuthenticated || isItemAvailableForPurchase() || isItemAvailableInStoreOnly()'
                            class='text-h6 font-weight-bold text-blue pb-3'
                        >
                            {{ toCurrency(item.priceInMinorUnit) }}
                        </div>

                        <div
                            v-if='isItemAvailableInStoreOnly()'
                            class='text-h6 font-weight-bold pb-3'
                        >
                            {{ $t('availableInStoreOnly') }}
                        </div>

                        <div
                            v-else-if='isItemAvailableForPurchase()'
                            class='text-h6 font-weight-bold pb-3'
                        >
                            <div
                                v-if='itemQuantityInCart(item.id) > 0'
                                class='pb-3'
                            >
                                <v-btn
                                    color='green'
                                    variant='tonal'
                                    :to='openCartBtn.path'
                                    :prepend-icon='openCartBtn.icon'
                                    :loading='isCartLoading'
                                    class='mr-6'
                                >
                                    {{ $t(openCartBtn.title) }}
                                </v-btn>

                                <v-btn-group
                                    variant='outlined'
                                    density='comfortable'
                                    divided
                                >
                                    <v-btn
                                        icon='mdi-minus'
                                        v-on:click='decreaseQuantityOfItem(item.id)'
                                        :loading='isCartLoading'
                                    ></v-btn>
                                    <v-btn
                                        :ripple='false'
                                        plain
                                    >
                                        {{ itemQuantityInCart(item.id) }} {{ $t('pieces') }}
                                    </v-btn>
                                    <v-btn
                                        icon='mdi-plus'
                                        v-on:click='increaseQuantityOfItem(item.id, item.quantity)'
                                        :loading='isCartLoading'
                                        :disabled='itemQuantityInCart(item.id) >= item.quantity'
                                    ></v-btn>
                                </v-btn-group>
                            </div>

                            <v-btn
                                v-else
                                color='blue'
                                variant='tonal'
                                v-on:click='increaseQuantityOfItem(item.id, item.quantity)'
                                :prepend-icon='addToCartBtn.icon'
                                :loading='isCartLoading'
                                :disabled='itemQuantityInCart(item.id) >= item.quantity'
                                class='mb-3'
                            >
                                {{ $t(addToCartBtn.title) }}
                            </v-btn>

                            <p class='text-body-1 font-weight-bold pb-3'>
                                {{ $t('deliveryMethods') }}
                            </p>

                            <v-list v-if='activeShippingDataList.length'>
                                <v-list-item
                                    v-for='(shippingData, i) in activeShippingDataList'
                                    :key='i'
                                    :disabled='!isDeliveryTypeAllowed(shippingData.deliveryType)'
                                >
                                    <template v-slot:prepend>
                                        <v-icon
                                            size='40'
                                            color='blue'
                                            :icon='deliveryList[shippingData.deliveryType].icon'
                                        ></v-icon>
                                    </template>

                                    <v-list-item-title v-if='deliveryList[shippingData.deliveryType].post'>
                                        {{ $t(deliveryList[shippingData.deliveryType].title, { post: deliveryList[shippingData.deliveryType].post }) }}
                                    </v-list-item-title>

                                    <v-list-item-title v-else>
                                        {{ $t(deliveryList[shippingData.deliveryType].title) }}
                                    </v-list-item-title>

                                    <v-list-item-subtitle v-if='deliveryList[shippingData.deliveryType].subTitle'>
                                        {{ $t(deliveryList[shippingData.deliveryType].subTitle) }}
                                    </v-list-item-subtitle>

                                    <v-list-item-subtitle v-else-if='!isDeliveryTypeAllowed(shippingData.deliveryType)'>
                                        {{ $t('cart.notAvailable') }}
                                    </v-list-item-subtitle>

                                    <v-list-item-subtitle v-else>
                                        {{ getTranslatedDeliveryPriceForShippingType(shippingData) }}
                                    </v-list-item-subtitle>
                                </v-list-item>
                            </v-list>
                        </div>

                        <div
                            v-else
                            class='text-h6 font-weight-bold text-grey pb-3'
                        >
                            {{ $t('productNotAvailable') }}
                        </div>
                    </v-col>

                    <v-col
                        cols='12'
                        sm='6'
                        md='4'
                        class='px-3'
                    >
                        <p class='text-body-1 font-weight-bold pb-3'>
                            {{ $t('productInformation') + ':' }}
                        </p>

                        <ItemInformation
                            :item='item'
                            :addPadding='true'
                        />
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { mapGetters } from 'vuex';
    import SubNavigation from '../components/SubNavigation.vue';
    import ExpandableCarousel from '../components/ExpandableCarousel.vue';
    import ItemInformation from '../components/ItemInformation.vue';
    import useMessage from '../composables/useMessage';
    import useCurrency from '../composables/useCurrency';
    import useCart from '../composables/useCart';

    export default {
        components: {
            SubNavigation,
            ExpandableCarousel,
            ItemInformation,
        },

        setup () {
            const { setErrorMessage } = useMessage();
            const { toCurrency, toPrice } = useCurrency();
            const { increaseQuantityOfItem, decreaseQuantityOfItem, itemQuantityInCart } = useCart();

            return {
                setErrorMessage,
                toCurrency,
                toPrice,
                increaseQuantityOfItem,
                decreaseQuantityOfItem,
                itemQuantityInCart,
            };
        },

        data () {
            return {
                item: {
                    id: null,
                    title: null,
                    description: null,
                    priceInMinorUnit: null,
                    category: null,
                    state: null,
                    brand: null,
                    gender: null,
                    size: null,
                    stickFlex: null,
                    bladeCurve: null,
                    bladeSide: null,
                    stickSize: null,
                    skateSize: null,
                    skateLength: null,
                    skateWidth: null,
                    isActive: null,
                    isDeleted: null,
                    isAvailableForSale: null,
                    quantity: null,
                    isParcelDelivery: null,
                    images: [],
                },

                navHelperItems: [
                    {
                        title: 'navigation.adverts',
                        disabled: false,
                        href: '/adverts',
                    },
                    {
                        title: 'item',
                        disabled: true,
                        href: '/item',
                        isTranslated: true,
                    },
                ],

                isLoading: false,

                editItemBtn: { title: 'edit', path: '/editItem/', icon: 'mdi-pencil' },
                addToCartBtn: { title: 'addToCart', path: '', icon: 'mdi-cart-outline' },
                openCartBtn: { title: 'addedToCart', path: '/cart', icon: 'mdi-check' },

                deliveryList: {
                    COURIER: {
                        key: 'COURIER',
                        icon: 'mdi-truck-fast-outline',
                        title: 'receiveViaCourierService',
                    },
                    OMNIVA: {
                        key: 'OMNIVA',
                        icon: 'mdi-window-open-variant',
                        title: 'receiveViaParcelMachine',
                        post: 'Omniva',
                    },
                    IN_STORE: {
                        key: 'IN_STORE',
                        icon: 'mdi-store-outline',
                        title: 'pickUpInStoreForFree',
                        subTitle: 'cart.shopAddress',
                    }
                }
            }
        },

        computed: {
            ...mapGetters({
                isAuthenticated: 'auth/authenticated',
                isCartLoading: 'cart/isLoading',
                activeShippingDataList: 'shippingData/activeShippingDataList',
                isShippingDataLoading: 'shippingData/isLoading',
            }),
        },

        methods: {
            isItemAvailable () {
                return this.item.isActive && !this.item.isDeleted;
            },

            isItemAvailableInStoreOnly () {
                return this.isItemAvailable() && !this.item.isAvailableForSale;
            },

            isItemAvailableForPurchase () {
                return this.isItemAvailable() && this.item.quantity > 0 && this.item.isAvailableForSale;
            },

            isDeliveryTypeAllowed (deliveryType) {
                if (deliveryType === 'OMNIVA' && !this.item.isParcelDelivery) {
                    return false;
                }

                return true;
            },

            getTranslatedDeliveryPriceForShippingType (shippingData) {
                if (this.item.priceInMinorUnit > shippingData.freeDeliveryStartingPriceInMinorUnit) {
                    return this.$t('freeDelivery', { amount: this.toPrice(shippingData.freeDeliveryStartingPriceInMinorUnit) });
                }

                return this.$t('paidDelivery', { amount: this.toPrice(shippingData.deliveryPriceInMinorUnit) });
            },

            initialize () {
                if (this.$route.name !== 'Item') {
                    return;
                }

                if (!this.$route.params.id
                    || !Number.isInteger(parseInt(this.$route.params.id))
                    || parseInt(this.$route.params.id) <= 0
                ) {
                    this.setErrorMessage(this.$t('error.recordNotFound'));
                    this.$router.push({ name: 'Adverts' });
                } else {
                    this.isLoading = true;
                    axios.get('/api/getItem/' + this.$route.params.id).then(response => {
                        this.isLoading = false;
                        if (response.data.success) {
                            this.item.id = response.data.item.id;
                            this.item.title = response.data.item.title;
                            this.item.description = response.data.item.description;
                            this.item.priceInMinorUnit = response.data.item.priceInMinorUnit;
                            this.item.category = response.data.item.category;
                            this.item.state = response.data.item.state;
                            this.item.brand = response.data.item.brand;
                            this.item.gender = response.data.item.gender;
                            this.item.isActive = !!response.data.item.isActive;
                            this.item.isDeleted = !!response.data.item.isDeleted;
                            this.item.isAvailableForSale = !!response.data.item.isAvailableForSale;
                            this.item.quantity = response.data.item.quantity;
                            this.item.skateSize = response.data.item.skateSize
                            this.item.skateLength = response.data.item.skateLength
                            this.item.skateWidth = response.data.item.skateWidth;
                            this.item.stickSize = response.data.item.stickSize;
                            this.item.stickFlex = response.data.item.stickFlex;
                            this.item.bladeCurve = response.data.item.bladeCurve;
                            this.item.bladeSide = response.data.item.bladeSide;
                            this.item.size = response.data.item.size;
                            this.item.isParcelDelivery = !!response.data.item.isParcelDelivery;

                            response.data.item.images.forEach(image => {
                                this.item.images.push(
                                    { id: image.id, path: image.path, name: image.name }
                                );
                            });

                            this.navHelperItems[1].title = this.item.title;
                        } else {
                            this.setErrorMessage(this.$t('error.recordNotFound'));
                            this.$router.push({ name: 'Adverts' });
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.isLoading = true;
                        this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        this.$router.push({ name: 'Adverts' });
                    });
                }
            },
        },

        watch: {
            '$route.params.id': 'initialize'
        },

        created () {
            this.initialize();
        },
    }
</script>

<style scoped>

</style>
