<template>
    <v-sheet class='d-flex align-center justify-center flex-wrap h-screen'>
        <div class='text-center'>
            <h1 class="errorCode">404</h1>

            <h2 class="my-3 headline">
                {{ $t('error.pageNotFound') }}
            </h2>

            <v-btn
                color='blue'
                variant='tonal'
                @click="redirect()"
            >
                {{ $t('goToHomepage') }} {{ timerCount }}
            </v-btn>
        </div>
    </v-sheet>
</template>

<script>
    export default {
        data () {
            return {
                timer: null,
                timerCount: 8,
            }
        },

        methods: {
            redirect() {
                if (this.$route.name !== 'NotFound') {
                    return;
                }

                this.$router.push({ name: 'Home' }).catch((error) => {
                    console.error(error)
                });
            },

            countDownTimer () {
                if (this.timerCount > 0) {
                    setTimeout(() => {
                        this.timerCount--;
                        this.countDownTimer()
                    }, 1000)
                }
            }
        },

        mounted () {
            this.timer = setTimeout(() => {
                this.redirect();
            }, 8000);
        },

        created () {
            this.countDownTimer()
        },

        onUnmounted () {
            clearInterval( this.timer );
        },
    }
</script>

<style scoped>
    .errorCode {
        text-align: center;
        vertical-align: middle;
        font-size: 150px;
        line-height: 150px;
        font-weight: 800;
        color: #424242 ;
        text-shadow: rgba(61,61,61,.3) 1px 1px, rgba(61,61,61,.2) 2px 2px, rgba(61,61,61,.3) 3px 3px;
    }
</style>
