<template>
    <v-dialog
        v-model="isDialogBoxVisible"
        width='auto'
    >
        <v-card width="400">
            <v-card-actions class="justify-end">
                <v-btn
                    color='white'
                    variant='text'
                    icon='mdi-close'
                    v-on:click="closeDialog()"
                ></v-btn>
            </v-card-actions>

            <v-card-title>
                <span class="text-h5">{{ $t('order.changeStatus') }}</span>
            </v-card-title>

            <v-card-text>
                <v-autocomplete
                    name="status"
                    v-model="form.status"
                    id="status"
                    :label="$t('status')"
                    :items="getSelectionItems(orderStatusEnum)"
                    item-title="text"
                    item-value="value"
                    :placeholder="$t('chooseStatus')"
                    variant='underlined'
                    clearable
                    :error-messages="fieldErrors('status')"
                    @update:model-value="v$.status.$touch()"
                    @blur="v$.status.$touch()"
                    @update:modelValue="resetFieldError('status')"
                ></v-autocomplete>
            </v-card-text>

            <v-card-actions class='justify-end'>
                <v-btn
                    color='red'
                    variant='text'
                    v-on:click="closeDialog()"
                >
                    {{ $t('cancel') }}
                </v-btn>

                <v-btn
                    color='blue'
                    variant='text'
                    v-on:click.prevent="changeOrderStatus()"
                >
                    {{ $t('save') }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('order.title') + ' ' + getOrderNumber() }}</h1>
            </v-col>

            <v-col
                v-if="isLoading"
                class='text-center'
                cols='12'
            >
                <v-progress-circular
                    :size="40"
                    color='blue'
                    indeterminate
                ></v-progress-circular>
            </v-col>

            <v-col
                v-else
                class='my-5'
                cols='12'
                sm='10'
                md='6'
            >
                <v-list
                    lines='two'
                    density='comfortable'
                >
                    <template
                        v-for="(item, i) in getPreparedOrderDataList" :key="i"
                    >
                        <v-list-item v-if='item.isVisible'>
                            <v-list-item-title class='font-weight-regular'>
                                {{ item.title }}
                            </v-list-item-title>

                            <template v-slot:append>
                                <p
                                    v-if='item.value'
                                    class='font-weight-bold'
                                >
                                    {{ item.value }}
                                </p>

                                <p v-if='item.isDatetime'>
                                    <v-tooltip :text='getTimeAgoValue(item.value)'>
                                        <template v-slot:activator="{ props }">
                                            <v-btn
                                                color="grey-lighten-1"
                                                icon="mdi-information"
                                                variant="text"
                                                v-bind="props"
                                            ></v-btn>
                                        </template>
                                    </v-tooltip>
                                </p>

                                <v-btn
                                    v-if='item.isEditable'
                                    color='amber'
                                    variant='tonal'
                                    icon="mdi-pencil"
                                    class='mx-2'
                                    :loading='isLoading'
                                    :disabled="!getIsActionAllowed(changeOrderStatusRole)"
                                    @click="toggleIsDialogBoxVisible()"
                                ></v-btn>
                            </template>
                        </v-list-item>

                        <v-divider class='border-opacity-25'></v-divider>
                    </template>
                </v-list>

                <v-data-table
                    class="elevation-1 mt-12"
                    :headers="productTableHeaders"
                    :items="getProductTableData"
                    :items-per-page="-1"
                    :loading='isProductTableLoading'
                    hide-default-footer
                >
                    <template v-slot:top>
                        <v-toolbar flat>
                            <v-toolbar-title>
                                {{ $t('order.orderedProducts') }}
                            </v-toolbar-title>
                        </v-toolbar>
                    </template>

                    <template v-slot:item="{ item }">
                        <tr v-if='item.isProductRow'>
                            <td>
                                <v-col cols='12'>
                                    <v-list-item>
                                        <template v-slot:prepend>
                                            <v-avatar
                                                rounded="0"
                                                size="60"
                                                :image='getImageUrl(item.imageUrl)'
                                            ></v-avatar>
                                        </template>

                                        <v-list-item-title>
                                            <v-hover v-slot:default="{ isHovering, props }">
                                                <p
                                                    class='text-left text-body-1 text-wrap'
                                                    style="max-width: 300px"
                                                    v-bind='props'
                                                >
                                                    <router-link
                                                        :to="'/item/' + item.id"
                                                        class='text-white'
                                                        :class='isHovering ? "text-decoration-underline" : "text-decoration-none"'
                                                    >
                                                        {{ item.titleWithSizes }}
                                                    </router-link>
                                                </p>
                                            </v-hover>
                                        </v-list-item-title>
                                    </v-list-item>
                                </v-col>
                            </td>

                            <td class='text-center'>
                                <v-col cols='12'>
                                    {{ item.quantity }} {{ $t('pieces') }}

                                    <br>

                                    <div
                                        v-if='item.quantity > 1'
                                        class='text-caption'
                                    >
                                        ({{ toCurrency(item.priceInMinorUnit) }} {{ $t('pieces') }})
                                    </div>
                                </v-col>
                            </td>

                            <td class='text-center font-weight-bold'>
                                {{ toCurrency(item.quantityWithPriceInMinorUnit) }}
                            </td>
                        </tr>

                        <tr
                            v-else-if='item.isShippingRow'
                            class='text-center font-weight-bold'
                        >
                            <td
                                class='text-right'
                                colspan='2'
                            >
                                {{ $t('cart.shipping') }}
                            </td>
                            <td>
                                {{ toCurrency(item.amount) }}
                            </td>
                        </tr>

                        <tr
                            v-else-if='item.isTotalRow'
                            class='text-h6 text-center font-weight-bold'
                        >
                            <td
                                class='text-right'
                                colspan='2'
                            >
                                {{ $t('totalAmount') }}
                            </td>
                            <td>
                                {{ toCurrency(item.amount) }}
                            </td>
                        </tr>
                    </template>

                    <template v-slot:bottom></template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { computed, ref } from 'vue'
    import { mapGetters } from 'vuex';
    import { useVuelidate } from '@vuelidate/core';
    import { required, helpers, sameAs, not } from '@vuelidate/validators';
    import SubNavigation from '../components/SubNavigation.vue';
    import useMessage from '../composables/useMessage';
    import useRole from '../composables/useRole';
    import useTimeAgo from '../composables/useTimeAgo';
    import useCurrency from '../composables/useCurrency';
    import useUrl from '../composables/useUrl';
    import useFormData from '../composables/useFormData';
    import useErrorData from '../composables/useErrorData';
    import useFieldErrors from '../composables/useFieldErrors';
    import useSelection from '../composables/useSelection';
    import useSizes from '../composables/useSizes';
    import { $t } from "../locales/localization";

    export default {
        components: {
            SubNavigation,
        },

        setup () {
            const currentOrderStatus = ref(null);

            const { formValues } = useFormData(
                {
                    id: null,
                    status: null,
                    recaptcha: '',
                }
            );
            const { errorValues } = useErrorData(
                {
                    id: null,
                    status: null,
                }
            );
            const validationRules = computed(() => {
                return {
                    id: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                    },
                    status: {
                        required: helpers.withMessage($t('validation.requiredField'), required),
                        notSameAsCurrentStatus: helpers.withMessage($t('validation.mustNotBeTheSame'), not(sameAs(currentOrderStatus))),
                    },
                }
            });
            const v$ = useVuelidate(validationRules, formValues);

            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getIsActionAllowed } = useRole();
            const { getTimeAgoValue } = useTimeAgo();
            const { toCurrency } = useCurrency();
            const { getImageUrl } = useUrl();
            const { getSelectionItems } = useSelection();
            const { fieldErrors, resetFieldError } = useFieldErrors(v$, errorValues);
            const { getItemTitleWithSize } = useSizes();

            return {
                currentOrderStatus: currentOrderStatus,
                form: formValues,
                errors: errorValues,
                v$,
                setErrorMessage,
                setNotificationMessage,
                getIsActionAllowed,
                getTimeAgoValue,
                toCurrency,
                getImageUrl,
                getSelectionItems,
                fieldErrors,
                resetFieldError,
                getItemTitleWithSize,
            };
        },

        data () {
            return {
                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'navigation.orders',
                        disabled: false,
                        href: '/orders',
                    },
                    {
                        title: 'order.title',
                        disabled: true,
                        href: '/order/',
                    },
                ],

                isLoading: false,
                isOrderLoaded: false,
                isProductTableLoading: false,
                isDialogBoxVisible: false,

                orderData: {
                    id: null,
                    status: null,
                    productList: null,
                    productAmountInMinorUnit: null,
                    shippingAmountInMinorUnit: null,
                    totalAmountInMinorUnit: null,
                    clientFirstName: null,
                    clientLastName: null,
                    clientEmail: null,
                    clientPhoneCountry: null,
                    clientPhoneNumber: null,
                    clientLanguageCode: null,
                    deliveryType: null,
                    parcelMachineName: null,
                    clientCountryCode: null,
                    clientState: null,
                    clientCity: null,
                    clientAddress: null,
                    clientFullAddress: null,
                    clientZipCode: null,
                    createdAt: null,
                    processedAt: null,
                    sentOutAt: null,
                    finishedAt: null,
                    lastOpenedAt: null,
                },

                productTableHeaders: [
                    {
                        title: this.$t('item'),
                        align: 'start',
                        key: 'item',
                        sortable: false,
                    },
                    {
                        title: this.$t('count'),
                        align: 'center',
                        key: 'count',
                        sortable: false,
                    },
                    {
                        title: this.$t('price'),
                        align: 'center',
                        key: 'total',
                        sortable: false,
                    },
                ],

                changeOrderStatusRole: 'changeOrderStatus',
            }
        },

        computed: {
            ...mapGetters({
                orderStatusEnum: 'enums/orderStatus',
            }),

            getPreparedOrderDataList() {
                if (!this.isOrderLoaded) {
                    return [];
                }

                return [
                    {
                        isVisible: true,
                        title: this.$t('order.number'),
                        value: this.getOrderNumber(),
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.date'),
                        value: this.orderData.createdAt,
                        isDatetime: true
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.status'),
                        value: this.$t('enums.' + this.orderData.status),
                        isEditable: true,
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.customerName'),
                        value: this.orderData.clientFirstName + ' ' + this.orderData.clientLastName,
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.customerEmail'),
                        value: this.orderData.clientEmail
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.customerPhone'),
                        value: '(' + this.orderData.clientPhoneCountry + ') ' + this.orderData.clientPhoneNumber
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.customerPreferredLanguage'),
                        value: this.$t('enums.' + this.orderData.clientLanguageCode),
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.deliveryType'),
                        value: this.$t('enums.' + this.orderData.deliveryType),
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.country'),
                        value: this.$t('countryCode.' + this.orderData.clientCountryCode.toUpperCase()) + ' (' + this.orderData.clientCountryCode + ')',
                    },
                    {
                        isVisible: this.orderData.deliveryType === 'COURIER',
                        title: this.$t('order.parcelMachineName'),
                        value: this.orderData.parcelMachineName,
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.address'),
                        value: this.orderData.clientFullAddress,
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.zipCode'),
                        value: this.getModifiedPostalCode(this.orderData.clientCountryCode, this.orderData.clientZipCode),
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.paymentProcessingDate'),
                        value: this.orderData.processedAt ?? '-',
                        isDatetime: !!this.orderData.processedAt
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.sentOutDate'),
                        value: this.orderData.sentOutAt ?? '-',
                        isDatetime: !!this.orderData.sentOutAt
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.completionDate'),
                        value: this.orderData.finishedAt ?? '-',
                        isDatetime: !!this.orderData.finishedAt
                    },
                    {
                        isVisible: true,
                        title: this.$t('order.lastViewedDate'),
                        value: this.orderData.lastOpenedAt ?? '-',
                        isDatetime: !!this.orderData.lastOpenedAt
                    },
                ];
            },

            getProductTableData () {
                this.isProductTableLoading = true;
                if (!this.orderData.productList || !this.orderData.productList.length) {
                    return [];
                }

                const productTableItems = [];

                this.orderData.productList.forEach((product) => {
                    const preparedItem = {
                        id: product.productId,
                        title: product.title,
                        titleWithSizes: this.getItemTitleWithSize(product),
                        priceInMinorUnit: product.priceInMinorUnit,
                        quantity: product.quantity,
                        quantityWithPriceInMinorUnit: product.quantityWithPriceInMinorUnit,
                        imageUrl: product.imageUrl,
                        isProductRow: true,
                    };

                    productTableItems.push(preparedItem);
                });

                const shippingRow = {
                    amount: this.orderData.shippingAmountInMinorUnit,
                    isShippingRow: true,
                };
                productTableItems.push(shippingRow);

                const totalsRow = {
                    amount: this.orderData.totalAmountInMinorUnit,
                    isTotalRow: true,
                };
                productTableItems.push(totalsRow);

                this.isProductTableLoading = false;

                return productTableItems;
            },
        },

        methods: {
            getOrderNumber() {
                if (!this.orderData.id) {
                    return '';
                }

                return '#' + this.orderData.id;
            },

            getModifiedPostalCode(countryCode, postalCode) {
                let isOnlyNumbers = /^\d+$/.test(postalCode);
                if (!isOnlyNumbers) {
                    return postalCode;
                }

                if (countryCode.toUpperCase() === 'LV' || countryCode.toUpperCase() === 'LT') {
                    return countryCode.toUpperCase() + '-' + postalCode;
                }

                return postalCode;
            },

            updateOrderLastOpenedAt() {
                this.$recaptcha('updateOrderLastOpenedAt').then(token => {
                    const form = {
                        id: this.orderData.id,
                        recaptcha: token,
                    };

                    axios.post('/api/updateOrderLastOpenedAt', form).then((response) => {
                        if (!response.data.success) {
                            console.log(response.data);
                        }
                    }).catch((error) => {
                        console.log(error);
                    });
                }).catch((error) => {
                    console.log(error);
                });
            },

            toggleIsDialogBoxVisible() {
                if (!this.getIsActionAllowed(this.changeOrderStatusRole)) {
                    this.isDialogBoxVisible = false;
                    return;
                }

                this.isDialogBoxVisible = !this.isDialogBoxVisible;

                if (this.isDialogBoxVisible) {
                    this.v$.$touch();
                }
            },

            closeDialog() {
                this.isDialogBoxVisible = false;
            },

            changeOrderStatus() {
                this.v$.$touch();
                if (this.v$.$invalid) {
                    this.setErrorMessage(this.$t('error.pleaseFillOutTheForm'));
                } else {
                    this.isLoading = true;
                    this.$recaptcha('changeOrderStatus').then(token => {
                        this.form.recaptcha = token;
                        axios.post('/api/setOrderStatus', this.form).then((response) => {
                            this.isLoading = false;
                            this.form.recaptcha = '';
                            if (response.data.success) {
                                this.closeDialog();
                                this.setNotificationMessage(this.$t(response.data.message));
                                this.getOrderData();
                            } else {
                                this.setErrorMessage(this.$t(response.data.message));

                                if (response.data.errors) {
                                    if (response.data.errors.id) {
                                        this.errors.id = response.data.errors.id;
                                    }
                                    if (response.data.errors.status) {
                                        this.errors.status = response.data.errors.status;
                                    }
                                }
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.form.recaptcha = '';
                            this.isLoading = true;
                            this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.form.recaptcha = '';
                        this.isLoading = true;
                        this.setErrorMessage(this.$t('error.recaptchaError'));
                    });
                }
            },

            getOrderData() {
                if (!this.$route.params.id
                    || !Number.isInteger(parseInt(this.$route.params.id))
                    || parseInt(this.$route.params.id) <= 0
                ) {
                    this.setErrorMessage(this.$t('error.recordNotFound'));
                    this.$router.push({ name: 'Orders' });
                } else {
                    this.isLoading = true;
                    axios.get('/api/getOrder/' + this.$route.params.id).then((response) => {
                        this.isLoading = false;
                        if (response.data.success) {
                            this.orderData.id = response.data.order.id;
                            this.orderData.status = response.data.order.status;
                            this.orderData.productList = response.data.order.productList;
                            this.orderData.productAmountInMinorUnit = response.data.order.productAmountInMinorUnit;
                            this.orderData.shippingAmountInMinorUnit = response.data.order.shippingAmountInMinorUnit;
                            this.orderData.totalAmountInMinorUnit = response.data.order.totalAmountInMinorUnit;
                            this.orderData.clientFirstName = response.data.order.clientFirstName;
                            this.orderData.clientLastName = response.data.order.clientLastName;
                            this.orderData.clientEmail = response.data.order.clientEmail;
                            this.orderData.clientPhoneCountry = response.data.order.clientPhoneCountry;
                            this.orderData.clientPhoneNumber = response.data.order.clientPhoneNumber;
                            this.orderData.clientLanguageCode = response.data.order.clientLanguageCode;
                            this.orderData.deliveryType = response.data.order.deliveryType;
                            this.orderData.parcelMachineName = response.data.order.parcelMachineName;
                            this.orderData.clientCountryCode = response.data.order.clientCountryCode;
                            this.orderData.clientState = response.data.order.clientState;
                            this.orderData.clientCity = response.data.order.clientCity;
                            this.orderData.clientAddress = response.data.order.clientAddress;
                            this.orderData.clientFullAddress = response.data.order.clientFullAddress;
                            this.orderData.clientZipCode = response.data.order.clientZipCode;
                            this.orderData.createdAt = response.data.order.createdAt;
                            this.orderData.processedAt = response.data.order.processedAt;
                            this.orderData.sentOutAt = response.data.order.sentOutAt;
                            this.orderData.finishedAt = response.data.order.finishedAt;
                            this.orderData.lastOpenedAt = response.data.order.lastOpenedAt;

                            this.form.id = response.data.order.id;
                            this.form.status = response.data.order.status;
                            this.currentOrderStatus = response.data.order.status;

                            this.updateOrderLastOpenedAt();
                            this.isOrderLoaded = true;
                        } else {
                            this.isLoading = true;
                            this.setErrorMessage(this.$t('error.recordNotFound'));
                            this.$router.push({ name: 'Orders' });
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.isLoading = true;
                        this.setErrorMessage(this.$t('error.pleaseTryAgainLater'));
                        this.$router.push({ name: 'Orders' });
                    });
                }
            },

            async prepareOrderStatusFromStore () {
                await this.$store.dispatch('enums/getOrderStatus');
            },
        },

        beforeMount () {
            this.prepareOrderStatusFromStore();
        },

        created () {
            this.getOrderData();
        },
    }
</script>

<style scoped>

</style>
