<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
                offset-md='4'
                md='4'
            >
                <h1>{{ $t('order.orderList') }}</h1>
            </v-col>

            <v-col
                cols='12'
                md='4'
                class='d-flex justify-end align-center'
            >
                <v-btn
                    v-if='authenticated && getIsActionVisible(refreshOrdersBtn)'
                    class='mx-2'
                    color='light-blue-darken-4'
                    variant='outlined'
                    size='small'
                    :icon='refreshOrdersBtn.icon'
                    v-on:click.prevent="refreshOrders"
                    :loading="isOrdersLoading"
                    :disabled="isOrdersLoading"
                ></v-btn>
            </v-col>
        </v-row>

        <v-row
            justify='center'
            class='text-center mb-6'
        >
            <v-col
                v-if="isOrdersLoading"
                cols='12'
            >
                <v-progress-circular
                    :size="40"
                    color='blue'
                    indeterminate
                ></v-progress-circular>
            </v-col>

            <v-col
                v-else-if="!orderList.length"
                cols='12'
            >
                <h3>{{ $t('noOrders') }}</h3>
            </v-col>

            <v-col
                v-else
                cols='12'
                sm='10'
                md='8'
            >
                <v-col
                    v-for="(orderStatus, i) in orderStatusList"
                    :key='i'
                    cols='12'
                    class='pb-6'
                >
                    <OrderTable
                        :orderList="getOrderListByStatus(orderStatus)"
                        :orderStatus="orderStatus"
                    />
                </v-col>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import OrderTable from '../components/tables/OrderTable.vue';
    import SubNavigation from '../components/SubNavigation.vue';
    import useMessage from '../composables/useMessage';
    import useRole from '../composables/useRole';

    export default {
        components: {
            OrderTable,
            SubNavigation,
        },

        setup () {
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getIsActionVisible } = useRole();

            return {
                setErrorMessage,
                setNotificationMessage,
                getIsActionVisible,
            };
        },

        data () {
            return {
                refreshOrdersBtn: { title: '', path: '', icon: 'mdi-cached', role: 'seeOrders' },

                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'navigation.orders',
                        disabled: true,
                        href: '/orders',
                    },
                ],

                orderStatusList : [
                    'incomplete',
                    'paid',
                    'failed',
                    'sentOut',
                    'finished',
                ],
            }
        },

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                orderList: 'orders/orderList',
                isOrdersLoading: 'orders/isLoading',
            }),
        },

        methods: {
            ...mapActions({
                getOrdersListAction: 'orders/getOrders',
            }),

            refreshOrders() {
                this.getOrdersListAction().then((refreshed) => {
                    this.setNotificationMessage(this.$t('dataUpdated'));
                }).catch((error) => {
                    console.log(error);
                    this.setErrorMessage(this.$t('error.error'));
                });
            },

            getOrderListByStatus(status) {
                if (!Array.isArray(this.orderList)) {
                    return [];
                }
                return this.orderList.filter((order) =>
                    order.status === status
                );
            },
        },

        created () {
            this.getOrdersListAction();
        },
    }
</script>

<style scoped>

</style>
