<template>
    <v-container
        fluid
        grid-list-md
    >
        <v-row justify='center'>
            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('payment.title') }}</h1>
            </v-col>

            <v-col
                class='my-3'
                cols='12'
                sm='10'
                md='8'
            >
                <p class='font-weight-bold pb-1'>
                    {{ $t('payment.paymentByBankCard') }}
                </p>
                <p class='pb-1'>
                    {{ $t('payment.paymentWithTheFollowingPaymentCards') }}
                </p>
                <p class='pt-4'>
                    {{ $t('payment.ifTheGoodsAreNotAvailableForPurchase') }}
                </p>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        components: { },

        data () {
            return {

            }
        },
    }
</script>

<style scoped>

</style>
