<template>
    <v-container
        fluid
        grid-list-md
    >
        <v-row justify='center'>
            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('privacyPolicy.title') }}</h1>
            </v-col>

            <v-col
                class='my-3'
                cols='12'
                sm='10'
                md='8'
            >
                <div
                    v-for="(privacyPolicy, i) in privacyPolicyList" :key="i"
                    class='py-2'
                >
                    <h4 class='pt-3'>
                        {{ $t(privacyPolicy.title) }}
                    </h4>

                    <div
                        v-for="(item, j) in privacyPolicy.list" :key="j"
                        class='pl-2'
                    >
                        <p class='pb-1'>
                            {{ (j + 1) + '.' }} {{ $t(item.text) }}
                        </p>

                        <div
                            v-if='item.sub'
                            class='pl-4'
                        >
                            <p
                                v-for="(subItem, k) in item.sub" :key="k"
                                class='pb-1'
                            >
                                {{ (j + 1) + '.' + (k + 1 + '.') }} {{ $t(subItem.text) }}
                            </p>
                        </div>
                    </div>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        components: { },

        data () {
            return {
                privacyPolicyList: [
                    {
                        title: 'privacyPolicy.processingOfPersonalData.title',
                        list: [
                            { text: 'privacyPolicy.processingOfPersonalData.1' },
                            {
                                text: 'privacyPolicy.processingOfPersonalData.2',
                                sub: [
                                    { text: 'privacyPolicy.processingOfPersonalData.2-sub.1' },
                                    { text: 'privacyPolicy.processingOfPersonalData.2-sub.2' },
                                    { text: 'privacyPolicy.processingOfPersonalData.2-sub.3' },
                                    { text: 'privacyPolicy.processingOfPersonalData.2-sub.4' },
                                    { text: 'privacyPolicy.processingOfPersonalData.2-sub.5' },
                                    { text: 'privacyPolicy.processingOfPersonalData.2-sub.6' },
                                    { text: 'privacyPolicy.processingOfPersonalData.2-sub.7' },
                                ]
                            },
                        ]
                    },
                    {
                        title: 'privacyPolicy.privacyPolicy.title',
                        list: [
                            { text: 'privacyPolicy.privacyPolicy.1' },
                        ]
                    },
                    {
                        title: 'privacyPolicy.categoriesOfPersonalDataProcessing.title',
                        list: [
                            {
                                text: 'privacyPolicy.categoriesOfPersonalDataProcessing.1',
                                sub: [
                                    { text: 'privacyPolicy.categoriesOfPersonalDataProcessing.1-sub.1' },
                                    { text: 'privacyPolicy.categoriesOfPersonalDataProcessing.1-sub.2' },
                                    { text: 'privacyPolicy.categoriesOfPersonalDataProcessing.1-sub.3' },
                                    { text: 'privacyPolicy.categoriesOfPersonalDataProcessing.1-sub.4' },
                                    { text: 'privacyPolicy.categoriesOfPersonalDataProcessing.1-sub.5' },
                                ]
                            },
                        ]
                    },
                    {
                        title: 'privacyPolicy.basisOfPersonalDataProcessing.title',
                        list: [
                            { text: 'privacyPolicy.basisOfPersonalDataProcessing.1' },
                            { text: 'privacyPolicy.basisOfPersonalDataProcessing.2' },
                            { text: 'privacyPolicy.basisOfPersonalDataProcessing.3' },
                            { text: 'privacyPolicy.basisOfPersonalDataProcessing.4' },
                            { text: 'privacyPolicy.basisOfPersonalDataProcessing.5' },
                        ]
                    },
                    {
                        title: 'privacyPolicy.purposesForProcessingPersonalData.title',
                        list: [
                            { text: 'privacyPolicy.purposesForProcessingPersonalData.1' },
                            { text: 'privacyPolicy.purposesForProcessingPersonalData.2' },
                            { text: 'privacyPolicy.purposesForProcessingPersonalData.3' },
                            { text: 'privacyPolicy.purposesForProcessingPersonalData.4' },
                        ]
                    },
                    {
                        title: 'privacyPolicy.collectionOfPersonalData.title',
                        list: [
                            { text: 'privacyPolicy.collectionOfPersonalData.1' },
                            { text: 'privacyPolicy.collectionOfPersonalData.2' },
                        ]
                    },
                    {
                        title: 'privacyPolicy.periodOfStorageOfPersonalData.title',
                        list: [
                            {
                                text: 'privacyPolicy.periodOfStorageOfPersonalData.1',
                                sub: [
                                    { text: 'privacyPolicy.periodOfStorageOfPersonalData.1-sub.1' },
                                    { text: 'privacyPolicy.periodOfStorageOfPersonalData.1-sub.2' },
                                    { text: 'privacyPolicy.periodOfStorageOfPersonalData.1-sub.3' },
                                    { text: 'privacyPolicy.periodOfStorageOfPersonalData.1-sub.4' },
                                    { text: 'privacyPolicy.periodOfStorageOfPersonalData.1-sub.5' },
                                ]
                            },
                        ]
                    },
                    {
                        title: 'privacyPolicy.sharingOfPersonalData.title',
                        list: [
                            { text: 'privacyPolicy.sharingOfPersonalData.1' },
                            { text: 'privacyPolicy.sharingOfPersonalData.2' },
                            { text: 'privacyPolicy.sharingOfPersonalData.3' },
                        ]
                    },
                    {
                        title: 'privacyPolicy.protectionOfPersonalData.title',
                        list: [
                            { text: 'privacyPolicy.protectionOfPersonalData.1' },
                            { text: 'privacyPolicy.protectionOfPersonalData.2' },
                            { text: 'privacyPolicy.protectionOfPersonalData.3' },
                        ]
                    },
                    {
                        title: 'privacyPolicy.customerRights.title',
                        list: [
                            { text: 'privacyPolicy.customerRights.1' },
                            { text: 'privacyPolicy.customerRights.2' },
                            { text: 'privacyPolicy.customerRights.3' },
                            { text: 'privacyPolicy.customerRights.4' },
                            { text: 'privacyPolicy.customerRights.5' },
                        ]
                    },
                ]
            }
        },
    }
</script>

<style scoped>

</style>
