<template>
    <v-container
        fluid
        grid-list-md
    >
        <v-row justify='center'>
            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('shipping.title') }}</h1>
            </v-col>

            <v-col
                class='my-3'
                cols='12'
                sm='10'
                md='8'
            >
                <p class='pb-1'>
                    {{ $t('shipping.canBeReceivedFreeOfCharge') }}
                </p>

                <div
                    v-for="(item, i) in questionsAndAnswersList" :key="i"
                    class='py-2'
                >
                    <p class='font-weight-bold pb-1'>
                        {{ $t(item.question) }}
                    </p>
                    <div
                        v-for="(answerItem, j) in item.answerList" :key="j"
                        class='pl-2'
                    >
                        <p class='pb-1'>
                            {{ $t(answerItem.answer) }}
                        </p>
                    </div>
                </div>

                <p class='pt-4'>
                    {{ $t('shipping.askForMoreInformation') }}
                </p>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        components: { },

        data () {
            return {
                questionsAndAnswersList: [
                    {
                        question: 'shipping.howLongDoesItTakeForTheOrderToBeDelivered',
                        answerList: [
                            { answer: 'shipping.goodsShippedWithinDays' },
                            { answer: 'shipping.deliveryTimesMayVary' },
                            { answer: 'shipping.ifDelayInTheDelivery' },
                        ]
                    },
                    {
                        question: 'shipping.deliveryMethods',
                        answerList: [
                            { answer: 'shipping.standardSizeGoods' },
                            { answer: 'shipping.manyGoodsAreNotStandardSizes' },
                        ]
                    },
                    {
                        question: 'shipping.changeTheDeliveryAddressAfterPlacingTheOrder',
                        answerList: [
                            { answer: 'shipping.noLongerPossibleToChangeTheDeliveryAddress' },
                        ]
                    },
                ],
            }
        },
    }
</script>

<style scoped>

</style>
