<template>
    <v-container
        fluid
        grid-list-md
    >
        <v-row justify='center'>
            <v-col
                class='text-center'
                cols='12'
            >
                <h1>{{ $t('terms.title') }}</h1>
            </v-col>

            <v-col
                class='my-3'
                cols='12'
                sm='10'
                md='8'
            >
                {{ $t('terms.updated') }} {{ updatedAt }}

                <div
                    v-for="(term, i) in terms" :key="i"
                    class='py-2'
                >
                    <p class='font-weight-bold pb-1'>
                        {{ (i + 1) + '.' }} {{ $t(term.title) }}
                    </p>
                    <div
                        v-for="(item, j) in term.list" :key="j"
                        class='pl-2'
                    >
                        <p class='pb-1'>
                            {{ (i + 1) + '.' + (j + 1) + '.' }} {{ $t(item.text) }}
                        </p>

                        <div
                            v-if='item.sub && item.isSubList'
                            class='pl-4'
                        >
                            <p
                                v-for="(subItem, k) in item.sub" :key="k"
                                class='pb-1'
                            >
                                {{ (i + 1) + '.' + (j + 1) + '.' + (k + 1 + '.') }} {{ $t(subItem.text) }}
                            </p>
                        </div>

                        <ul
                            v-if='item.sub && !item.isSubList'
                            class='pl-6'
                        >
                            <template v-for="(subItem, k) in item.sub" :key="k">
                                <li v-if='subItem.isBullet'>
                                    {{ $t(subItem.text) }}
                                </li>
                                <p v-else>
                                    {{ $t(subItem.text) }}
                                </p>
                            </template>
                        </ul>
                    </div>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        components: { },

        data () {
            return {
                updatedAt: '2023-09-15',

                terms: [
                    {
                        title: 'terms.definitions.title',
                        list: [
                            { text: 'terms.definitions.1' },
                            { text: 'terms.definitions.2' },
                            { text: 'terms.definitions.3' },
                            { text: 'terms.definitions.4' },
                            { text: 'terms.definitions.5' },
                            { text: 'terms.definitions.6' },
                            { text: 'terms.definitions.7' },
                        ]
                    },
                    {
                        title: 'terms.generalProvisions.title',
                        list: [
                            { text: 'terms.generalProvisions.1' },
                            { text: 'terms.generalProvisions.2' },
                            { text: 'terms.generalProvisions.3' },
                        ]
                    },
                    {
                        title: 'terms.purchaseSaleAgreement.title',
                        list: [
                            { text: 'terms.purchaseSaleAgreement.1' },
                            { text: 'terms.purchaseSaleAgreement.2' },
                            {
                                text: 'terms.purchaseSaleAgreement.3',
                                isSubList: false,
                                sub: [
                                    { text: 'terms.purchaseSaleAgreement.3-sub.1', isBullet: true },
                                    { text: 'terms.purchaseSaleAgreement.3-sub.2', isBullet: true },
                                    { text: 'terms.purchaseSaleAgreement.3-sub.3', isBullet: true },
                                    { text: 'terms.purchaseSaleAgreement.3-sub.4', isBullet: false }
                                ]
                            },
                            { text: 'terms.purchaseSaleAgreement.4' },
                            { text: 'terms.purchaseSaleAgreement.5' },
                        ]
                    },
                    {
                        title: 'terms.buyersRightsAndDuties.title',
                        list: [
                            {
                                text: 'terms.buyersRightsAndDuties.1',
                                isSubList: true,
                                sub: [
                                    { text: 'terms.buyersRightsAndDuties.1-sub.1' },
                                    { text: 'terms.buyersRightsAndDuties.1-sub.2' },
                                    { text: 'terms.buyersRightsAndDuties.1-sub.3' },
                                ]
                            },
                            {
                                text: 'terms.buyersRightsAndDuties.2',
                                isSubList: true,
                                sub: [
                                    { text: 'terms.buyersRightsAndDuties.2-sub.1' },
                                    { text: 'terms.buyersRightsAndDuties.2-sub.2' },
                                    { text: 'terms.buyersRightsAndDuties.2-sub.3' },
                                    { text: 'terms.buyersRightsAndDuties.2-sub.4' },
                                    { text: 'terms.buyersRightsAndDuties.2-sub.5' },
                                    { text: 'terms.buyersRightsAndDuties.2-sub.6' },
                                    { text: 'terms.buyersRightsAndDuties.2-sub.7' },
                                    { text: 'terms.buyersRightsAndDuties.2-sub.8' },
                                ]
                            },
                        ]
                    },
                    {
                        title: 'terms.sellersRightsAndDuties.title',
                        list: [
                            {
                                text: 'terms.sellersRightsAndDuties.1',
                                isSubList: true,
                                sub: [
                                    { text: 'terms.sellersRightsAndDuties.1-sub.1' },
                                    { text: 'terms.sellersRightsAndDuties.1-sub.2' },
                                    { text: 'terms.sellersRightsAndDuties.1-sub.3' },
                                ]
                            },
                            {
                                text: 'terms.sellersRightsAndDuties.2',
                                isSubList: true,
                                sub: [
                                    { text: 'terms.sellersRightsAndDuties.2-sub.1' },
                                    { text: 'terms.sellersRightsAndDuties.2-sub.2' },
                                ]
                            },
                        ]
                    },
                    {
                        title: 'terms.pricesAndPayments.title',
                        list: [
                            { text: 'terms.pricesAndPayments.1' },
                            { text: 'terms.pricesAndPayments.2' },
                            { text: 'terms.pricesAndPayments.3' },
                            { text: 'terms.pricesAndPayments.4' },
                            { text: 'terms.pricesAndPayments.5' },
                            { text: 'terms.pricesAndPayments.6' },
                            { text: 'terms.pricesAndPayments.7' },
                        ]
                    },
                    {
                        title: 'terms.receivingTheGoods.title',
                        list: [
                            { text: 'terms.receivingTheGoods.1' },
                            { text: 'terms.receivingTheGoods.2' },
                        ]
                    },
                    {
                        title: 'terms.qualityOfGoods.title',
                        list: [
                            { text: 'terms.qualityOfGoods.1' },
                            { text: 'terms.qualityOfGoods.2' },
                            { text: 'terms.qualityOfGoods.3' },
                        ]
                    },
                    {
                        title: 'terms.rightToRefuseTheAgreementReturningOfGoods.title',
                        list: [
                            { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.1' },
                            { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.2' },
                            { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.3' },
                            { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.4' },
                            { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.5' },
                            { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.6' },
                            { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.7' },
                            { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.8' },
                            {
                                text: 'terms.rightToRefuseTheAgreementReturningOfGoods.9',
                                isSubList: true,
                                sub: [
                                    { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.9-sub.1' },
                                    { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.9-sub.2' },
                                    { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.9-sub.3' },
                                    { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.9-sub.4' },
                                    { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.9-sub.5' },
                                ]
                            },
                            { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.10' },
                            { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.11' },
                            { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.12' },
                            { text: 'terms.rightToRefuseTheAgreementReturningOfGoods.13' },
                        ]
                    },
                    {
                        title: 'terms.liability.title',
                        list: [
                            { text: 'terms.liability.1' },
                            { text: 'terms.liability.2' },
                            { text: 'terms.liability.3' },
                            { text: 'terms.liability.4' },
                            { text: 'terms.liability.5' },
                        ]
                    },
                    {
                        title: 'terms.provisionOfInformation.title',
                        list: [
                            { text: 'terms.provisionOfInformation.1' },
                            { text: 'terms.provisionOfInformation.2' },
                            { text: 'terms.provisionOfInformation.3' },
                        ]
                    },
                    {
                        title: 'terms.finalProvisions.title',
                        list: [
                            { text: 'terms.finalProvisions.1' },
                            { text: 'terms.finalProvisions.2' },
                            { text: 'terms.finalProvisions.3' },
                        ]
                    },
                ],
            }
        },
    }
</script>

<style scoped>

</style>
