<template>
    <v-container
        class='py-4'
        fluid
    >
        <v-row justify='center'>
            <v-col cols='12'>
                <SubNavigation :items="navHelperItems" />
            </v-col>

            <v-col
                class='text-center'
                cols='12'
                offset-md='4'
                md='4'
            >
                <h1>{{ $t('controlPanel.users') }}</h1>
            </v-col>

            <v-col
                cols='12'
                md='4'
                class='d-flex justify-end align-center'
            >
                <v-btn
                    v-if='getIsActionVisible(refreshUsersBtn)'
                    class='mx-2'
                    color='light-blue-darken-4'
                    variant='outlined'
                    size='small'
                    :icon='refreshUsersBtn.icon'
                    v-on:click.prevent="refreshUsersData"
                    :loading="isUsersLoading"
                    :disabled="isUsersLoading"
                ></v-btn>

                <v-btn v-if="getIsActionVisible(newUserBtn)"
                    class='mx-2'
                    color='success'
                    :append-icon='newUserBtn.icon'
                    :to="newUserBtn.path"
                    :loading="isUsersLoading"
                    :disabled="isUsersLoading"
                >
                    {{ $t(newUserBtn.title) }}
                </v-btn>
            </v-col>
        </v-row>

        <v-row
            justify='center'
            class='text-center'
        >
            <v-col
                v-if="isUsersLoading"
                cols='12'
            >
                <v-progress-circular
                    :size="40"
                    color='blue'
                    indeterminate
                ></v-progress-circular>
            </v-col>

            <v-col
                v-else-if="!userList.length"
                cols='12'
            >
                <h3>{{ $t('noRecords') }}</h3>
            </v-col>

            <v-col
                v-else
                cols='12'
                sm='10'
                md='8'
            >
                <UserList :users='userList' />
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import UserList from '../components/list/UserList.vue';
    import SubNavigation from '../components/SubNavigation.vue';
    import useMessage from '../composables/useMessage';
    import useRole from '../composables/useRole';

    export default {
        components: {
            UserList,
            SubNavigation,
        },

        setup () {
            const { setErrorMessage, setNotificationMessage } = useMessage();
            const { getIsActionVisible } = useRole();

            return {
                setErrorMessage,
                setNotificationMessage,
                getIsActionVisible,
            };
        },

        data () {
            return {
                newUserBtn: { title: 'add', path: '/addUser', icon: 'mdi-plus', role: 'addNewUser' },
                refreshUsersBtn: { title: 'refresh', path: '', icon: 'mdi-cached', role: 'addNewUser' },

                navHelperItems: [
                    {
                        title: 'navigation.home',
                        disabled: false,
                        href: '/',
                    },
                    {
                        title: 'navigation.controlPanel',
                        disabled: false,
                        href: '/controlPanel',
                    },
                    {
                        title: 'controlPanel.users',
                        disabled: true,
                        href: '/controlPanel/users',
                    },
                ],
            }
        },

        computed: {
            ...mapGetters({
                userList: 'users/userList',
                isUsersLoading: 'users/isLoading',
            }),
        },

        methods: {
            ...mapActions({
                getUsersListAction: 'users/getUsers',
            }),

            refreshUsersData() {
                this.getUsersListAction().then((refreshed) => {
                    this.setNotificationMessage(this.$t('dataUpdated'));
                }).catch((error) => {
                    console.log(error);
                    this.setErrorMessage(this.$t('error.error'));
                });
            },
        },

        created () {
            this.getUsersListAction();
        },
    }
</script>

<style scoped>

</style>
