<template>
    <v-sheet class='d-flex align-center justify-center flex-wrap h-screen'>
        <div class='text-center'>
            <v-icon
                class='mb-5'
                color='green'
                :icon='icon'
                size='112'
            ></v-icon>

            <h2 class='text-h5 mb-6'>
                {{ $t('emailVerified') }}
            </h2>

            <v-btn
                color='green'
                variant='tonal'
                :to="loginBtn.path"
            >
                {{ $t(loginBtn.title) }}
            </v-btn>
        </div>
    </v-sheet>
</template>

<script>
    export default {
        data () {
            return {
                icon: 'mdi-check-circle',
                loginBtn: { title: 'goToLogin', path: '/login', icon: 'mdi-login-variant' },
            }
        },

        created () {
            if (!this.$route.params.id
                || !Number.isInteger(parseInt(this.$route.params.id))
            ) {
                this.$router.push({ name: 'Home' });
            } else {
                axios.get('/api/setVerificationAsShown/' + parseInt(this.$route.params.id)).then(response => {
                    if (!response.data.success) {
                        this.$router.push({ name: 'Home' });
                    }
                }).catch((error) => {
                    console.log(error);
                    this.$router.push({ name: 'Home' });
                });
            }
        },
    }
</script>

<style scoped>

</style>
