<template>
    <v-row justify='center'>
        <v-col
            v-if='isLoading'
            class='text-center'
            cols='12'
        >
            <v-progress-circular
                :size="40"
                color='blue'
                indeterminate
            ></v-progress-circular>
        </v-col>

        <v-col
            v-else-if='onlyActiveCarouselItems.length || authenticated'
            cols='12'
            sm='10'
            md='8'
        >
            <div>
                <div
                    v-if='authenticated'
                    class='d-flex justify-end align-center py-4'
                >
                    <v-btn
                        v-if='model'
                        color='amber'
                        variant='tonal'
                        :to="editItemBtn.path + model"
                        :prepend-icon='editItemBtn.icon'
                        :loading="isLoading"
                        :disabled="isLoading"
                    >
                        {{ $t(editItemBtn.title) }}
                    </v-btn>

                    <v-btn
                        class='mx-2'
                        color='success'
                        :append-icon='newItemBtn.icon'
                        :to="newItemBtn.path"
                        :loading="isLoading"
                        :disabled="isLoading"
                    >
                        {{ $t(newItemBtn.title) }}
                    </v-btn>
                </div>

                <v-carousel
                    v-if='onlyActiveCarouselItems.length'
                    v-model='model'
                    :cycle='!authenticated'
                    interval='10000'
                    hide-delimiters
                    touch
                >
                    <v-carousel-item
                        v-for="(item, i) in onlyActiveCarouselItems" :key="i"
                        :src='item.imagePath + item.imageName'
                        :lazy-src='getDefaultImage()'
                        :value="item.id"
                        cover
                        height='600'
                    >
                        <template v-slot:error>
                           <div class='d-flex align-center justify-center fill-height'>
                                <v-progress-circular
                                    color="grey-lighten-4"
                                    indeterminate
                                ></v-progress-circular>
                            </div>
                        </template>

                        <template v-slot:placeholder>
                            <div class="d-flex align-center justify-center fill-height">
                                <v-progress-circular
                                    color="grey-lighten-4"
                                    indeterminate
                                ></v-progress-circular>
                            </div>
                        </template>

                        <v-sheet
                            v-if='item.isActive && item.title'
                            color='transparent'
                            height='100%'
                        >
                            <div class='d-flex fill-height justify-center align-end'>
                                <VuetifyViewer
                                    v-if='item.title'
                                    class="pa-2 text-white text-center"
                                    :value="item.title"
                                />
                            </div>
                        </v-sheet>

                        <v-sheet
                            v-else-if='!item.isActive'
                            height='100%'
                            class='inactive'
                        >
                            <div class='d-flex fill-height justify-center align-center'>
                                <div class='text-white text-h2'>
                                    {{ $t('inactive') }}
                                </div>
                            </div>
                        </v-sheet>
                    </v-carousel-item>
                </v-carousel>

                <h3
                    v-else
                    class='text-center'
                >
                    {{ $t('noRecords') }}
                </h3>
            </div>
        </v-col>
    </v-row>
</template>

<script>
    import { mapGetters } from 'vuex';
    import useDefaultImage from '../composables/useDefaultImage';

    export default {
        setup () {
            const { getDefaultImage } = useDefaultImage();
            return { getDefaultImage };
        },

        data () {
            return {
                model: null,
                newItemBtn: { title: 'add', path: '/newCarouselItem', icon: 'mdi-plus' },
                editItemBtn: { title: 'edit', path: '/editCarouselItem/', icon: 'mdi-pencil' },
            }
        },

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                isLoading: 'carousel/isLoading',
                carouselItems: 'carousel/carouselList',
                user: 'auth/user',
            }),

            onlyActiveCarouselItems() {
                if (!Array.isArray(this.carouselItems)) {
                    return [];
                }

                return this.carouselItems.filter((item) => {
                    const isValidLanguage = item.language === null || item.language === this.$i18n.locale;
                    const isActiveAndCorrectLanguage = item.isActive && (this.authenticated || isValidLanguage);
                    const canAuthenticatedUserSeeInactive = this.authenticated && this.user.showInactive;

                    return isActiveAndCorrectLanguage || canAuthenticatedUserSeeInactive;
                });
            },
        },
    }
</script>

<style scoped>
    .inactive {
        background: rgba(255, 255, 255, .1);
    }
</style>
