<template>
    <v-menu
        v-model='isMenuOpen'
        :open-on-hover='true'
        :open-delay='0'
        :close-on-content-click='false'
    >
        <template v-slot:activator="{ props }">
            <v-btn
                variant='text'
                class='mr-2'
                :to="cartBtn.path"
                :icon='cartBtn.icon'
                :loading='isCartLoading'
                :active='false'
                v-bind="props"
            >
                <v-badge
                    v-if='cartContent && cartContent.length'
                    :content='cartContent.length'
                    color="green"
                >
                    <v-icon :icon='cartBtn.icon' />
                </v-badge>

                <v-icon
                    v-else
                    :icon='cartBtn.icon'
                ></v-icon>
            </v-btn>
        </template>

        <v-card
            min-width="300"
            :loading='isItemListLoading || isCartLoading'
        >
            <div
                v-if='!getSelectedItems.length'
                class='text-center pa-3'
            >
                {{ $t('cartIsEmpty') }}
            </div>

            <v-list
                v-else
                density='compact'
            >
                <v-list-item
                    v-for='(item, i) in getMaxActiveItems'
                    :key='i'
                >
                    <template v-slot:prepend>
                        <v-avatar
                            rounded="0"
                            size="60"
                            :image='item.imageUrl'
                        ></v-avatar>
                    </template>

                    <v-hover>
                        <template v-slot:default="{ isHovering, props }">
                            <v-list-item-title
                                class='text-left text-body-1 text-wrap'
                                style="max-width: 300px"
                                v-bind="props"
                            >
                                <router-link
                                    :to="'/item/' + item.id"
                                    class='text-white'
                                    :class='isHovering ? "text-decoration-underline" : "text-decoration-none"'
                                >
                                    {{ item.titleWithSizes }}
                                </router-link>
                            </v-list-item-title>

                            <v-list-item-subtitle class='wrap-text'>
                                {{ $t('quantity')}} {{ item.cartQuantity }}
                            </v-list-item-subtitle>
                        </template>
                    </v-hover>

                    <template v-slot:append>
                        <div class='text-body-1 font-weight-bold text-blue ml-2'>
                            {{ toCurrency(item.quantityWithPriceInMinorUnit) }}
                        </div>
                    </template>
                </v-list-item>
            </v-list>

            <p
                v-if="getSelectedItems.length > menuLimit"
                class='text-center text-caption pa-2'
            >
                {{ $t('andCartItems', { num: getHiddenCartItemCount }) }}
            </p>

            <v-divider></v-divider>

            <v-card-actions>
                <div class='text-h6 text-blue mx-2'>
                    {{ toCurrency(getTotalAmount) }}
                </div>

                <v-spacer></v-spacer>

                <v-btn
                    color='orange'
                    variant='tonal'
                    :to='openCartBtn.path'
                    v-on:click="closeCartMenu()"
                    class='no-text-transform'
                >
                    {{ $t(openCartBtn.title) }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-menu>
</template>

<script>
    import { mapGetters } from 'vuex';
    import useCurrency from '../composables/useCurrency';
    import useDefaultImage from '../composables/useDefaultImage';
    import useSizes from '../composables/useSizes';

    export default {
        name: 'CartMenu',

        components: { },

        setup () {
            const { toCurrency } = useCurrency();
            const { getDefaultImage } = useDefaultImage();
            const { getItemTitleWithSize } = useSizes();

            return {
                toCurrency,
                getDefaultImage,
                getItemTitleWithSize
            };
        },

        data () {
            return {
                isMenuOpen: false,
                menuLimit: 3,

                cartBtn: { title: '', path: '/cart', icon: 'mdi-cart-outline' },
                openCartBtn: { title: 'openCart', path: '/cart', icon: 'mdi-cart-outline' },
            }
        },

        computed: {
            ...mapGetters({
                isCartLoading: 'cart/isLoading',
                cartContent: 'cart/cart',
                isItemListLoading: 'items/isLoading',
                itemsList: 'items/itemsList',
            }),

            prepareOnlyActiveItems () {
                let onlyActiveItemList = [];

                if (!this.isItemListLoading && Array.isArray(this.itemsList)) {
                    onlyActiveItemList = this.itemsList.filter((item) =>
                        item.isActive && item.quantity >= 0 && !item.isDeleted && item.isAvailableForSale
                    );
                }

                return onlyActiveItemList;
            },

            getSelectedItems () {
                return this.getActiveCartItems();
            },

            getMaxActiveItems () {
                const activeItems = this.getActiveCartItems();

                return this.menuLimit
                    ? activeItems.slice(0, this.menuLimit)
                    : activeItems;
            },

            getHiddenCartItemCount () {
                return this.getActiveCartItems().length - this.menuLimit;
            },

            getTotalAmount () {
                let totalAmount = 0;

                this.getActiveCartItems().forEach(item => {
                    totalAmount += item.quantityWithPriceInMinorUnit;
                });

                return totalAmount;
            },
        },

        methods: {
            closeCartMenu () {
                this.isMenuOpen = false
            },

            getActiveCartItems () {
                const selectedItems = [];

                const onlyActiveItems = this.prepareOnlyActiveItems;
                onlyActiveItems.forEach((activeItem) => {
                    const cartItem = this.cartContent.find((cartItem) => cartItem.id === activeItem.id);
                    if (!cartItem || cartItem.quantity < 1) {
                        return;
                    }

                    const firstImageUrl = activeItem.images && activeItem.images.length
                        ? activeItem.images[0].path + activeItem.images[0].name
                        : this.getDefaultImage();

                    const quantityWithPriceInMinorUnit = cartItem.quantity * activeItem.priceInMinorUnit;

                    selectedItems.push(
                        {
                            id: activeItem.id,
                            title: activeItem.title,
                            titleWithSizes: this.getItemTitleWithSize(activeItem),
                            imageUrl: firstImageUrl,
                            cartQuantity: cartItem.quantity,
                            priceInMinorUnit: activeItem.priceInMinorUnit,
                            quantityWithPriceInMinorUnit: quantityWithPriceInMinorUnit,
                        }
                    );
                });

                return selectedItems;
            },
        },
    }
</script>

<style scoped>

</style>
