<template>
    <v-carousel
        v-if="images.length > 0"
        cycle
        height='auto'
        :show-arrows='images.length > 1 && "hover"'
        hide-delimiter-background
        :hide-delimiters='images.length === 1'
        touch
    >
        <v-carousel-item
            v-for="(image, i) in images" :key="i"
            :src='getImageUrl(image.path, image.name)'
            :lazy-src='getDefaultImage()'
            height='400'
            cover
            @click="toggleIsGalleryOpen()"
        >
            <template v-slot:error>
                <div class='d-flex align-center justify-center fill-height'>
                    <v-progress-circular
                        color="grey-lighten-4"
                        indeterminate
                    ></v-progress-circular>
                </div>
            </template>

            <template v-slot:placeholder>
                <div class="d-flex align-center justify-center fill-height">
                    <v-progress-circular
                        color="grey-lighten-4"
                        indeterminate
                    ></v-progress-circular>
                </div>
            </template>
        </v-carousel-item>
    </v-carousel>

    <p
        v-if='showEnlargingText && images.length > 0'
        class='text-center text-caption'
    >
        {{ $t('clickToEnlargeIt') }}
    </p>

    <GalleryDialog
        v-if="isGalleryOpen"
        :images='images'
        @data="toggleIsGalleryOpen"
    />
</template>

<script>
    import GalleryDialog from './GalleryDialog.vue';
    import useDefaultImage from '../composables/useDefaultImage';
    import useUrl from '../composables/useUrl';

    export default {
        props: [ 'images', 'showEnlargingText' ],

        components: {
            GalleryDialog
        },

        setup () {
            const { getDefaultImage } = useDefaultImage();
            const { getImageUrl } = useUrl();
            return {
                getDefaultImage,
                getImageUrl
            };
        },

        data () {
            return {
                isGalleryOpen: false,
            }
        },

        methods: {
            toggleIsGalleryOpen() {
                this.isGalleryOpen = !this.isGalleryOpen;
            },
        }
    }
</script>

<style scoped>

</style>
