<template>
    <iframe
        width="100%"
        height="350px"
        style="border:0"
        loading="lazy"
        allowfullscreen
        v-bind:src="'https://www.google.com/maps/embed/v1/place?key=' + googleMapsKey + '&q=Stickfix,Riga&zoom=' + zoom">
    </iframe>
</template>

<script>
    export default {
        data () {
            return {
                center: {
                    lat: 56.96249283337657,
                    lng: 24.137934280871974,
                },
                zoom: 13,
                googleMapsKey: import.meta.env.VITE_GOOGLE_MAPS_KEY,
            }
        },
    };
</script>