<template>
    <div
        v-if="isAuthenticated"
        :class='addPadding ? "pb-1" : ""'
    >
        <span class="grey-lighten-1">{{ $t('availableQuantity') }}: </span>
        <span class="font-weight-bold">{{ item.quantity }}</span>
    </div>
    <div
        v-if="item.state"
        :class='addPadding ? "pb-1" : ""'
    >
        <span class="grey-lighten-1">{{ $t('state') }}: </span>
        <span class="font-weight-bold">{{ $t('enums.' + item.state) }}</span>
    </div>
    <div
        v-if="item.brand"
        :class='addPadding ? "pb-1" : ""'
    >
        <span class="grey-lighten-1">{{ $t('brand') }}: </span>
        <span class="font-weight-bold">{{ $t('enums.' + item.brand) }}</span>
    </div>
    <div
        v-if="item.gender"
        :class='addPadding ? "pb-1" : ""'
    >
        <span class="grey-lighten-1">{{ $t('gender') }}: </span>
        <span class="font-weight-bold">{{ $t('enums.' + item.gender) }}</span>
    </div>
    <div
        v-if="item.category"
        :class='addPadding ? "pb-1" : ""'
    >
        <span class="grey-lighten-1">{{ $t('category') }}: </span>
        <span class="font-weight-bold">{{ $t('enums.' + item.category) }}</span>
    </div>
    <div v-if="item.category === 'SKATES'">
        <div
            v-if="item.skateSize && item.skateLength"
            :class='addPadding ? "pb-1" : ""'
        >
            <span class="grey-lighten-1">{{ $t('skateLength') }}: </span>
            <span
                v-if='sizesEnum'
                class="font-weight-bold"
            >
                {{ $t('enums.' + item.skateSize) + ' ' + item.skateLength + ' (EUR ' + sizesEnum.SKATES.LENGTH[item.skateSize][item.skateLength].EUR + ')' }}
            </span>
        </div>
        <div
            v-if="item.skateWidth"
            :class='addPadding ? "pb-1" : ""'
        >
            <span class="grey-lighten-1">{{ $t('skateWidth') }}: </span>
            <span class="font-weight-bold">{{ item.skateWidth }}</span>
        </div>
    </div>
    <div v-else-if="item.category === 'STICKS'">
        <div
            v-if="item.stickSize"
            :class='addPadding ? "pb-1" : ""'
        >
            <span class="grey-lighten-1">{{ $t('stickSize') }}: </span>
            <span class="font-weight-bold">{{ $t('enums.' + item.stickSize) }}</span>
        </div>
        <div
            v-if="item.bladeCurve"
            :class='addPadding ? "pb-1" : ""'
        >
            <span class="grey-lighten-1">{{ $t('blade') }}: </span>
            <span class="font-weight-bold">{{ item.bladeCurve }}</span>
        </div>
        <div
            v-if="item.bladeSide"
            :class='addPadding ? "pb-1" : ""'
        >
            <span class="grey-lighten-1">{{ $t('grip') }}: </span>
            <span class="font-weight-bold">{{ $t('enums.' + item.bladeSide) }}</span>
        </div>
        <div
            v-if="item.stickFlex"
            :class='addPadding ? "pb-1" : ""'
        >
            <span class="grey-lighten-1">{{ $t('flex') }}: </span>
            <span class="font-weight-bold">{{ item.stickFlex }}</span>
        </div>
    </div>
    <div v-else-if="item.category === 'PANTS'
        || item.category === 'SHOULDER_PADS'
        || item.category === 'ELBOW_PADS'"
    >
        <div
            v-if="item.size"
            :class='addPadding ? "pb-1" : ""'
        >
            <span class="grey-lighten-1">{{ $t('size') }}: </span>
            <span class="font-weight-bold">{{ $t('enums.' + item.size) }}</span>
        </div>
    </div>
    <div v-else>
        <div
            v-if="item.size"
            :class='addPadding ? "pb-1" : ""'
        >
            <span class="grey-lighten-1">{{ $t('size') }}: </span>
            <span class="font-weight-bold">{{ item.size }}</span>
        </div>
    </div>
    <div
        v-if="item.description"
        :class='addPadding ? "pb-1" : ""'
    >
        <span class="grey-lighten-1">{{ $t('description') }}: </span>
        <VuetifyViewer
            v-if='item.description'
            :value="item.description"
        />
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        props: [ 'item', 'addPadding' ],

        components: { },

        data () {
            return {

            }
        },

        computed: {
            ...mapGetters({
                isAuthenticated: 'auth/authenticated',
                sizesEnum: 'enums/sizes',
            }),
        },
    }
</script>

<style scoped>

</style>
