<template>
    <v-menu>
        <template v-slot:activator="{ props }">
            <v-btn
                variant='text'
                size='small'
                v-bind="props"
            >
                <country-flag
                    :country='getCountryCode(getDefaultLocale)'
                    style="margin-top:-0.6em"
                />
            </v-btn>
        </template>

        <v-list>
            <v-list-item
                v-for="(item, i) in languages"
                :key="i"
                :disabled='getDefaultLocale === item'
                v-on:click.prevent="setLocale(item)"
            >
                <country-flag
                    :country='getCountryCode(item)'
                    style="margin-top:-0.6em"
                />
            </v-list-item>
        </v-list>
    </v-menu>
</template>

<script>
    import { mapGetters } from 'vuex';
    import CountryFlag from 'vue-country-flag-next';

    export default {
        name: 'LanguageMenu',

        components: {
            CountryFlag,
        },

        data () {
            return {
                languages: [ 'lv', 'ru', 'en', ],
                languageSwitchAvailable: true,
            }
        },

        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                user: 'auth/user',
            }),

            getDefaultLocale() {
                if (this.$cookies.isKey('isCookieLawAccepted')
                    && (this.$cookies.get('isCookieLawAccepted') === 'true' || this.$cookies.get('isCookieLawAccepted') === true)
                ) {
                    if (this.$cookies.isKey('language')) {
                        this.$i18n.locale = this.$cookies.get('language');
                    } else {
                        this.$cookies.set('language', this.user.language, Infinity);
                    }
                } else if (this.authenticated && this.languageSwitchAvailable) {
                    this.$i18n.locale = this.user.language;
                }
                return this.$i18n.locale;
            },
        },

        methods: {
            getCountryCode(code) {
                if (code === 'en') {
                    return 'gb';
                }
                return code;
            },

            setLocale(code) {
                if (this.$cookies.isKey('isCookieLawAccepted')) {
                    this.$cookies.set('language', code, Infinity);
                }
                this.languageSwitchAvailable = false;
                this.$i18n.locale = code;
            }
        },
    }
</script>

<style scoped>

</style>
