<template>
    <v-data-table
        v-if='orderList && orderList.length'
        class="elevation-1"
        :headers="tableHeaders"
        :items="getTableData()"
        :items-per-page="25"
        :loading="isTableLoading"
        hide-default-footer
    >
        <template v-slot:top>
            <v-toolbar flat>
                <v-toolbar-title>
                    {{ $t('enums.' + orderStatus) }}
                </v-toolbar-title>
            </v-toolbar>
        </template>

        <template v-slot:item="{ item }">
            <tr :class='item.lastOpenedAt === null ? "bg-light-green-darken-4" : ""'>
                <td class='text-center font-weight-bold bg-transparent'>
                    {{ '#' + item.id }}
                </td>

                <td class='text-center bg-transparent'>
                    <p>
                        {{ getTimeAgoValue(item.createdAt) }}
                        <v-tooltip activator='parent'>
                            {{ item.createdAt }}
                        </v-tooltip>
                    </p>
                </td>

                <td class='text-center bg-transparent'>
                    <p v-if='item.lastOpenedAt'>
                        {{ getTimeAgoValue(item.lastOpenedAt) }}
                        <v-tooltip activator='parent'>
                            {{ item.lastOpenedAt }}
                        </v-tooltip>
                    </p>

                    <p v-else>
                        {{ '-' }}
                    </p>
                </td>

                <td class='text-center bg-transparent'>
                    {{ toCurrency(item.totalAmountInMinorUnit) }}
                </td>

                <td class='text-center bg-transparent'>
                    <v-btn
                        v-if='getIsActionVisible(openOrderBtn)'
                        color='light-blue-darken-4'
                        :variant='item.lastOpenedAt === null ? "flat" : "outlined"'
                        class='mx-2'
                        :to="openOrderBtn.path + item.id"
                        :prepend-icon='openOrderBtn.icon'
                        :loading="isTableLoading"
                        :disabled="isTableLoading"
                    >
                        {{ $t(openOrderBtn.title) }}
                    </v-btn>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>

<script>
    import useRole from '../../composables/useRole';
    import useCurrency from '../../composables/useCurrency';
    import useTimeAgo from '../../composables/useTimeAgo';

    export default {
        props: [ 'orderList', 'orderStatus' ],

        setup () {
            const { getIsActionVisible } = useRole();
            const { toCurrency } = useCurrency();
            const { getTimeAgoValue } = useTimeAgo();

            return { getIsActionVisible, toCurrency, getTimeAgoValue };
        },

        data () {
            return {
                isTableLoading: false,

                tableHeaders: [
                    {
                        title: this.$t('order.number'),
                        align: 'center',
                        key: 'id',
                        sortable: false,
                    },
                    {
                        title: this.$t('order.orderedAt'),
                        align: 'center',
                        key: 'createdAt',
                        sortable: false,
                    },
                    {
                        title: this.$t('order.lastOpenedAt'),
                        align: 'center',
                        key: 'lastOpenedAt',
                        sortable: false,
                    },
                    {
                        title: this.$t('order.totalAmount'),
                        align: 'center',
                        key: 'totalAmountInMinorUnit',
                        sortable: false,
                    },
                    {
                        title: '',
                        align: 'center',
                        key: 'action',
                        sortable: false,
                    },

                ],

                openOrderBtn: { title: 'open', path: '/order/', icon: 'mdi-eye', role: 'seeOrders' },
            }
        },

        methods: {
            getTableData() {
                if (!this.orderList) {
                    return [];
                }

                this.isTableLoading = true;

                const tableItems = [];

                this.orderList.forEach((order, i) => {
                    tableItems.push(
                        {
                            id: order.id,
                            createdAt: order.createdAt,
                            lastOpenedAt: order.lastOpenedAt,
                            totalAmountInMinorUnit: this.toCurrency(order.totalAmountInMinorUnit)
                        }
                    );
                });

                this.isTableLoading = false;

                return tableItems;
            },
        },
    }
</script>

<style scoped>

</style>
