<template>
    <v-data-table
        v-if='shippingDataList && shippingDataList.length'
        class="elevation-1"
        :headers="tableHeaders"
        :items="getTableData()"
        :items-per-page="25"
        :loading="isTableLoading"
        hide-default-footer
    >
        <template v-slot:item="{ item }">
            <tr :class='item.isActive ? "" : "bg-grey-darken-3"'>
                <td class='text-center font-weight-bold bg-transparent'>
                    <span v-if='!item.isActive' class='text-grey'>{{ $t('inactive') }}:&nbsp;</span>
                    <span>{{ $t('enums.' + item.deliveryType) }}</span>
                </td>

                <td class='text-center bg-transparent'>
                    {{ toCurrency(item.deliveryPriceInMinorUnit) }}
                </td>

                <td class='text-center bg-transparent'>
                    {{ toCurrency(item.freeDeliveryStartingPriceInMinorUnit) }}
                </td>

                <td class='text-center bg-transparent'>
                    <p>
                        {{ getTimeAgoValue(item.createdAt) }}
                        <v-tooltip activator='parent'>
                            {{ item.createdAt }}
                        </v-tooltip>
                    </p>
                </td>

                <td class='text-center bg-transparent'>
                    <p>
                        {{ getTimeAgoValue(item.editedAt) }}
                        <v-tooltip activator='parent'>
                            {{ item.editedAt }}
                        </v-tooltip>
                    </p>
                </td>

                <td class='text-center bg-transparent'>
                    <v-btn
                        v-if='getIsActionVisible(editShippingDataBtn)'
                        color='amber'
                        variant='tonal'
                        class='mx-2'
                        :to="editShippingDataBtn.path + item.id"
                        :prepend-icon='editShippingDataBtn.icon'
                        :loading="isTableLoading"
                        :disabled="isTableLoading"
                    >
                        {{ $t(editShippingDataBtn.title) }}
                    </v-btn>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>

<script>
    import useRole from '../../composables/useRole';
    import useCurrency from '../../composables/useCurrency';
    import useTimeAgo from '../../composables/useTimeAgo';

    export default {
        props: [ 'shippingDataList' ],

        setup () {
            const { getIsActionVisible } = useRole();
            const { toCurrency } = useCurrency();
            const { getTimeAgoValue } = useTimeAgo();

            return { getIsActionVisible, toCurrency, getTimeAgoValue };
        },

        data () {
            return {
                isTableLoading: false,

                tableHeaders: [
                    {
                        title: this.$t('deliveryType.type'),
                        align: 'center',
                        key: 'deliveryType',
                        sortable: false,
                    },
                    {
                        title: this.$t('deliveryType.shippingPrice'),
                        align: 'center',
                        key: 'deliveryPriceInMinorUnit',
                        sortable: false,
                    },
                    {
                        title: this.$t('deliveryType.freeShippingStartingAt'),
                        align: 'center',
                        key: 'freeDeliveryStartingPriceInMinorUnit',
                        sortable: false,
                    },
                    {
                        title: this.$t('deliveryType.createdAt'),
                        align: 'center',
                        key: 'createdAt',
                        sortable: false,
                    },
                    {
                        title: this.$t('deliveryType.editedAt'),
                        align: 'center',
                        key: 'editedAt',
                        sortable: false,
                    },
                    {
                        title: '',
                        align: 'center',
                        key: 'action',
                        sortable: false,
                    },

                ],

                editShippingDataBtn: { title: 'edit', path: '/editShippingData/', icon: 'mdi-pencil', role: 'addOrEditShippingData' },
            }
        },

        methods: {
            getTableData() {
                if (!this.shippingDataList) {
                    return [];
                }

                this.isTableLoading = true;

                const tableItems = [];

                this.shippingDataList.forEach((shippingData, i) => {
                    tableItems.push(
                        {
                            id: shippingData.id,
                            deliveryType: shippingData.deliveryType,
                            deliveryPriceInMinorUnit: shippingData.deliveryPriceInMinorUnit,
                            freeDeliveryStartingPriceInMinorUnit: shippingData.freeDeliveryStartingPriceInMinorUnit,
                            isActive: shippingData.isActive,
                            createdAt: shippingData.createdAt,
                            editedAt: shippingData.editedAt,
                        }
                    );
                });

                this.isTableLoading = false;

                return tableItems;
            },
        },
    }
</script>

<style scoped>

</style>
